<template>
  <div>
    <section class="form-sec sec-pad">
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="admin-cnt">
            <div class="cnt-tlt">Add type</div>
            <div class="form">
              <form @submit.prevent="addType">
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <SingleSrcSelect
                      :sBox="services.sBox"
                      @hideOption="hideOption"
                      :label="services.label"
                      :selected="services.selected"
                      :items="services.items"
                      :disabled="false"
                      @setSelectedVal="
                                                setSelectedVal($event)
                                            "
                      v-if="reRenderServices"
                    />
                    <div v-if="error.is.service_id" class="text-danger m-t-m-10">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ error.msg.service_id }}
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Name:</label>
                      <input v-model="name" type="text" name="name" class="form-control" />
                    </div>
                    <div v-if="error.is.name" class="text-danger m-t-m-10">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ error.msg.name }}
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-3">
                    <div class="form-group">
                      <label>Price:</label>
                      <div class="input-group ctm-input-group">
                        <span>&euro;</span>
                        <input
                          v-model="price"
                          type="number"
                          name="price"
                          class="form-control"
                          step="any"
                        />
                      </div>
                    </div>
                    <div v-if="error.is.price" class="text-danger m-t-m-10">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ error.msg.price }}
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-3">
                    <div class="form-group">
                      <label>Discount Price:</label>
                      <div class="input-group ctm-input-group">
                        <span>&euro;</span>
                        <input
                          v-model="discount_price"
                          type="number"
                          name="discount_price"
                          class="form-control"
                          step="any"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <SingleSrcSelect
                      :sBox="duration.sBox"
                      @hideOption="hideOption"
                      :label="duration.label"
                      :selected="duration.selected"
                      :items="duration.items"
                      :disabled="false"
                      @setSelectedVal="
                                                setSelectedVal($event)
                                            "
                    />
                    <div v-if="error.is.time" class="text-danger m-t-m-10">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ error.msg.time }}
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <SingleSrcSelect
                      :sBox="startTime.sBox"
                      @hideOption="hideOption"
                      :label="startTime.label"
                      :selected="startTime.selected"
                      :items="startTime.items"
                      :disabled="false"
                      @setSelectedVal="
                                                setSelectedVal($event)
                                            "
                    />
                  </div>
                  <div class="col-12 col-sm-6">
                    <SingleSrcSelect
                      :sBox="endTime.sBox"
                      @hideOption="hideOption"
                      :label="endTime.label"
                      :selected="endTime.selected"
                      :items="endTime.items"
                      :disabled="false"
                      @setSelectedVal="
                                                setSelectedVal($event)
                                            "
                    />
                  </div>
                  <div class="col-12">
                    <vue-editor v-model="description"></vue-editor>
                  </div>
                  <div class="col-12 col-sm-6">
                    <input type="file" class="d-none" @change="previewImg" ref="typeImg" />
                    <button class="btn ctm-btn" type="button" @click="$refs.typeImg.click()">Image</button>
                  </div>
                  <div class="col-12 col-sm-6">
                    <img :src="imgPreview" alt="img" class="type-img" v-if="imgPreview.length" />
                  </div>
                  <div class="col-12">
                    <button class="btn ctm-btn float-right" type="submit">save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import SingleSrcSelect from "./selectOption/SingleSrcSelect.vue";
import { VueEditor, Quill } from "vue2-editor";
export default {
  components: {
    SingleSrcSelect,
    VueEditor
  },
  data() {
    return {
      services: {
        sBox: "addTypeServices",
        label: "Services",
        selected: {
          value: "Select Service"
        },
        items: []
      },
      duration: {
        sBox: "addTypeDuration",
        label: "Duration",
        selected: {
          value: "Select Duration"
        },
        items: [
          {
            key: 30,
            value: "30min"
          },
          {
            key: 60,
            value: "1h"
          },
          {
            key: 90,
            value: "1h 30min"
          },
          {
            key: 120,
            value: "2h"
          },
          {
            key: 150,
            value: "2h 30min"
          },
          {
            key: 180,
            value: "3h"
          },
          {
            key: 210,
            value: "3h 30min"
          },
          {
            key: 240,
            value: "4h"
          },
          {
            key: 270,
            value: "4h 30min"
          },
          {
            key: 300,
            value: "5h"
          },
          {
            key: 330,
            value: "5h 30min"
          },
          {
            key: 360,
            value: "6h"
          },
          {
            key: 390,
            value: "6h 30min"
          },
          {
            key: 420,
            value: "7h"
          },
          {
            key: 450,
            value: "7h 30min"
          },
          {
            key: 480,
            value: "8h"
          },
          {
            key: 540,
            value: "9h"
          },
          {
            key: 600,
            value: "10h"
          },
          {
            key: 660,
            value: "11h"
          },
          {
            key: 720,
            value: "12h"
          }
        ]
      },
      startTime: {
        sBox: "addTypeStartTime",
        label: "Start Time",
        selected: {
          value: "Select Start Time"
        },
        items: [
          {
            key: 0,
            value: "00:00"
          },
          {
            key: 30,
            value: "00:30"
          },
          {
            key: 60,
            value: "01:00"
          },
          {
            key: 90,
            value: "01:30"
          },
          {
            key: 120,
            value: "02:00"
          },
          {
            key: 150,
            value: "02:30"
          },
          {
            key: 180,
            value: "03:00"
          },
          {
            key: 210,
            value: "03:30"
          },
          {
            key: 240,
            value: "04:00"
          },
          {
            key: 270,
            value: "04:30"
          },
          {
            key: 300,
            value: "05:00"
          },
          {
            key: 330,
            value: "05:30"
          },
          {
            key: 360,
            value: "06:00"
          },
          {
            key: 390,
            value: "06:30"
          },
          {
            key: 420,
            value: "07:00"
          },
          {
            key: 450,
            value: "07:30"
          },
          {
            key: 480,
            value: "08:00"
          },
          {
            key: 510,
            value: "08:30"
          },
          {
            key: 540,
            value: "09:00"
          },
          {
            key: 570,
            value: "09:30"
          },
          {
            key: 600,
            value: "10:00"
          },
          {
            key: 630,
            value: "10:30"
          },
          {
            key: 660,
            value: "11:00"
          },
          {
            key: 690,
            value: "11:30"
          },
          {
            key: 720,
            value: "12:00"
          },
          {
            key: 750,
            value: "12:30"
          },
          {
            key: 780,
            value: "13:00"
          },
          {
            key: 810,
            value: "13:30"
          },
          {
            key: 840,
            value: "14:00"
          },
          {
            key: 870,
            value: "14:30"
          },
          {
            key: 900,
            value: "15:00"
          },
          {
            key: 930,
            value: "15:30"
          },
          {
            key: 960,
            value: "16:00"
          },
          {
            key: 990,
            value: "16:30"
          },
          {
            key: 1020,
            value: "17:00"
          },
          {
            key: 1050,
            value: "17:30"
          },
          {
            key: 1080,
            value: "18:00"
          },
          {
            key: 1110,
            value: "18:30"
          },
          {
            key: 1140,
            value: "19:00"
          },
          {
            key: 1170,
            value: "19:30"
          },
          {
            key: 1200,
            value: "20:00"
          },
          {
            key: 1230,
            value: "20:30"
          },
          {
            key: 1260,
            value: "21:00"
          },
          {
            key: 1290,
            value: "21:30"
          },
          {
            key: 1320,
            value: "22:00"
          },
          {
            key: 1350,
            value: "22:30"
          },
          {
            key: 1380,
            value: "23:00"
          },
          {
            key: 1410,
            value: "23:30"
          }
        ]
      },
      endTime: {
        sBox: "addTypeEndTime",
        label: "End Time",
        selected: {
          value: "Select End Time"
        },
        items: [
          {
            key: 0,
            value: "00:00"
          },
          {
            key: 30,
            value: "00:30"
          },
          {
            key: 60,
            value: "01:00"
          },
          {
            key: 90,
            value: "01:30"
          },
          {
            key: 120,
            value: "02:00"
          },
          {
            key: 150,
            value: "02:30"
          },
          {
            key: 180,
            value: "03:00"
          },
          {
            key: 210,
            value: "03:30"
          },
          {
            key: 240,
            value: "04:00"
          },
          {
            key: 270,
            value: "04:30"
          },
          {
            key: 300,
            value: "05:00"
          },
          {
            key: 330,
            value: "05:30"
          },
          {
            key: 360,
            value: "06:00"
          },
          {
            key: 390,
            value: "06:30"
          },
          {
            key: 420,
            value: "07:00"
          },
          {
            key: 450,
            value: "07:30"
          },
          {
            key: 480,
            value: "08:00"
          },
          {
            key: 510,
            value: "08:30"
          },
          {
            key: 540,
            value: "09:00"
          },
          {
            key: 570,
            value: "09:30"
          },
          {
            key: 600,
            value: "10:00"
          },
          {
            key: 630,
            value: "10:30"
          },
          {
            key: 660,
            value: "11:00"
          },
          {
            key: 690,
            value: "11:30"
          },
          {
            key: 720,
            value: "12:00"
          },
          {
            key: 750,
            value: "12:30"
          },
          {
            key: 780,
            value: "13:00"
          },
          {
            key: 810,
            value: "13:30"
          },
          {
            key: 840,
            value: "14:00"
          },
          {
            key: 870,
            value: "14:30"
          },
          {
            key: 900,
            value: "15:00"
          },
          {
            key: 930,
            value: "15:30"
          },
          {
            key: 960,
            value: "16:00"
          },
          {
            key: 990,
            value: "16:30"
          },
          {
            key: 1020,
            value: "17:00"
          },
          {
            key: 1050,
            value: "17:30"
          },
          {
            key: 1080,
            value: "18:00"
          },
          {
            key: 1110,
            value: "18:30"
          },
          {
            key: 1140,
            value: "19:00"
          },
          {
            key: 1170,
            value: "19:30"
          },
          {
            key: 1200,
            value: "20:00"
          },
          {
            key: 1230,
            value: "20:30"
          },
          {
            key: 1260,
            value: "21:00"
          },
          {
            key: 1290,
            value: "21:30"
          },
          {
            key: 1320,
            value: "22:00"
          },
          {
            key: 1350,
            value: "22:30"
          },
          {
            key: 1380,
            value: "23:00"
          },
          {
            key: 1410,
            value: "23:30"
          }
        ]
      },
      service_id: "",
      name: "",
      price: "",
      discount_price: "",
      time: "",
      start_time: "",
      end_time: "",
      description: "",
      reRenderServices: true,
      error: {
        is: {
          service_id: false,
          name: false,
          price: false,
          time: false
        },
        msg: {
          service_id: "Please select service.",
          name: "",
          price: "",
          time: ""
        }
      },
      imgPreview: "",
      imageP: ""
    };
  },
  methods: {
    setSelectedVal(d) {
      if (d.key == "addTypeServices") this.service_id = d.value;
      else if (d.key == "addTypeDuration") this.time = d.value;
      else if (d.key == "addTypeStartTime") this.start_time = d.value;
      else if (d.key == "addTypeEndTime") this.end_time = d.value;
    },
    async addType() {
      const data = new FormData();
      data.append("name", this.name);
      data.append("price", this.price);
      data.append("discount_price", this.discount_price);
      data.append("time", this.time);
      data.append("start_time", this.start_time);
      data.append("end_time", this.end_time);
      data.append("description", this.description);
      if (this.imageP.length) {
        data.append("image", this.imageP, this.imageP.name);
      } else {
        data.append("image", this.imageP);
      }
      let storeServicesTypeUrl =
        this.$base_url + "/api/services/" + this.service_id + "/types";
      if (this.service_id != "") {
        this.error.is.service_id = false;
        this.error.is.name = false;
        this.error.is.price = false;
        this.error.is.time = false;
        let errors = {};
        let response = await this.$getData("post", storeServicesTypeUrl, data);
        // console.log(response);
        if (!response.success) {
          for (const key of Object.keys(response.data)) {
            errors[key] = response.data[key];
          }
          if (errors.name) {
            this.error.is.name = true;
            this.error.msg.name = errors.name[0];
          }
          if (errors.price) {
            this.error.is.price = true;
            this.error.msg.price = errors.price[0];
          }
          if (errors.time) {
            this.error.is.time = true;
            this.error.msg.time = errors.time[0];
          }
        }

        if (Object.keys(errors).length == 0) {
          this.$toast.success(response.message, {
            duration: 5000,
            dismissible: true
          });

          this.$router.push({
            name: "typeCalendar",
            query: { service: this.service_id }
          });
        }
      } else this.error.is.service_id = true;
      // console.log(this.form);
    },
    hideOption(d) {
      this.$emit("updateTroggleOption", d);
    },
    reRenderServicesI() {
      this.reRenderServices = false;
      this.$nextTick(() => {
        this.reRenderServices = true;
      });
    },
    previewImg(e) {
      let render,
        files = e.target.files;
      render = new FileReader();
      render.onload = e => {
        this.imgPreview = e.target.result;
      };
      render.readAsDataURL(files[0]);
      this.imageP = files[0];
    }
  },
  created() {},
  async mounted() {
    let getServicesUrl = this.$base_url + "/api/services/" + this.$user_id;
    let services = await this.$getData("get", getServicesUrl);

    if (services.success) {
      this.services.items = services.data.map(item => {
        return {
          key: item.id,
          value: item.title
        };
      });
      this.reRenderServicesI();
    } else {
      this.$toast.error(services.message, {
        duration: 5000,
        dismissible: true
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.ql-image,
.ql-video {
  display: none !important;
}
.ctm-btn {
  margin-top: 15px;
}
.type-img {
  max-width: 300px;
  margin-top: 15px;
}
</style>
