<template>
  <div>
    <section class="form-sec sec-pad">
      <div class="row">
        <div class="col-12 col-sm-6">
          <MultiSrcSelect
            :sBox="workers.sBox"
            @hideOption="hideOption"
            :label="workers.label"
            :selected="workers.selected"
            :items.sync="workers.items"
            :disabled="false"
            @setSelectedVal="setSelectedVal($event)"
            v-if="reRenderWorkers"
          />
        </div>
        <div class="col-12 col-sm-6">
          <button class="btn add-btn psn-ab-b-17" @click="setWorkerForType">Set worker for type</button>
        </div>
        <div class="col-12 col-sm-12">
          <div class="admin-cnt">
            <div class="cnt-tlt">{{ type_name }}</div>
            <div class="table-responsive">
              <v-client-table :data="tableData" :columns="columns" :options="options">
                <div slot="action" slot-scope="{ row }">
                  <button
                    class="btn del-btn warning"
                    @click="
                                            deleteRow(
                                                item_values[row.id - 1],
                                                item_ids[row.id - 1],
                                                row.id
                                            )
                                        "
                  >
                    <i class="far fa-trash-alt"></i>
                  </button>
                </div>
              </v-client-table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <transition name="appear">
      <ConfirmDeleteModal
        :data="selectedDData"
        v-if="confirmModal"
        @confirm="deleteUser($event)"
        @cancel="cancelDelete"
      />
    </transition>
  </div>
</template>

<script>
import MultiSrcSelect from "./selectOption/MultiSrcSelect.vue";
import ConfirmDeleteModal from "./modal/ConfirmDeleteModal.vue";
export default {
  components: {
    ConfirmDeleteModal,
    MultiSrcSelect
  },
  data() {
    return {
      columns: ["id", "name", "email", "phone", "action"],
      tableData: [],
      options: {
        sortIcon: {
          is: "fa-arrows-alt-v",
          base: "fas",
          up: "fa-long-arrow-alt-up",
          down: "fa-long-arrow-alt-down"
        },
        sortable: ["id", "name", "email", "phone"],
        filterable: ["name", "email", "phone"]
      },
      confirmModal: false,
      selectedDData: null,
      workersData: null,
      workers: {
        sBox: "workers",
        label: "Workers",
        selected: {
          value: "Select Worker",
          id: ""
        },
        items: []
      },
      item_ids: [],
      item_values: [],
      reRenderWorkers: true,
      ids: [],
      type_name: "",
      service_id: this.$route.query.service,
      type_id: this.$route.params.id
    };
  },
  methods: {
    async setSelectedVal(d) {
      if (d.key == "workers") this.ids = d.value;
    },
    deleteRow(val, id, rowid) {
      this.selectedDData = {
        rowid: rowid,
        id: id,
        value: val
      };
      this.confirmModal = true;
    },
    cancelDelete() {
      this.confirmModal = false;
      this.selectedDData = null;
    },
    async deleteUser(data) {
      let self = this;
      this.confirmModal = false;
      this.selectedDData = null;
      let deleteTypeWorkerUrl =
        this.$base_url +
        "/api/services/" +
        this.service_id +
        "/types/" +
        this.type_id +
        "/workers_detach/" +
        data.id;
      let response = await this.$getData("get", deleteTypeWorkerUrl);

      if (response.success) {
        this.item_ids = this.item_ids.filter(function(item) {
          if (item != data.id) {
            return item;
          }
        });
        this.tableData = this.tableData.filter(function(item) {
          if (item.id != data.rowid) {
            return item;
          }
        });
      }
      this.workers.items = this.workersData.data.map(item => {
        return {
          key: item.id,
          value: item.name + " ( " + item.surname + " )"
        };
      });
      this.workers.items = this.workers.items.filter(item => {
        if (!self.item_ids.includes(item.key)) {
          return item;
        }
      });
      this.reRenderWorkersI();
    },
    hideOption(d) {
      this.$emit("updateTroggleOption", d);
    },
    reRenderWorkersI() {
      this.reRenderWorkers = false;
      this.$nextTick(() => {
        this.reRenderWorkers = true;
      });
    },
    async setWorkerForType() {
      let data = {};
      data["ids"] = this.ids.filter(function(item) {
        return item;
      });
      let addTypeWorkerUrl =
        this.$base_url +
        "/api/services/" +
        this.service_id +
        "/types/" +
        this.type_id +
        "/workers_add";
      let response = await this.$getData("post", addTypeWorkerUrl, data);
      this.$toast.success(response.message, {
        duration: 5000,
        dismissible: true
      });
      this.setTableData(response);
    },
    setTableData(items) {
      let self = this;
      this.item_ids = [];
      this.item_values = [];
      let i = 1;

      this.tableData = items.data.map(item => {
        this.item_ids.push(item.id);
        this.item_values.push(item.name);
        return {
          id: i++,
          name: item.name + " ( " + item.surname + " )",
          email: item.email,
          phone: item.phone
        };
      });
      if (this.workersData.success) {
        this.workers.items = this.workersData.data.map(item => {
          return {
            key: item.id,
            value: item.name + " ( " + item.surname + " )"
          };
        });
      } else {
        this.$toast.error(this.workersData.message, {
          duration: 5000,
          dismissible: true
        });
      }
      this.workers.items = this.workers.items.filter(item => {
        if (!self.item_ids.includes(item.key)) {
          return item;
        }
      });
      this.reRenderWorkersI();
    }
  },
  created() {},
  async mounted() {
    let gettypeByIdUrl =
      this.$base_url +
      "/api/services/" +
      this.service_id +
      "/types/" +
      this.type_id;
    let singleType = await this.$getData("get", gettypeByIdUrl);
    this.type_name = singleType.data.name;

    let getWorkersUrl =
      this.$base_url + "/api/users/" + this.$user_id + "/workers";

    this.workersData = await this.$getData("get", getWorkersUrl);

    let getTypeWorkerUrl =
      this.$base_url +
      "/api/services/" +
      this.service_id +
      "/types/" +
      this.type_id +
      "/workers";
    let typeWorker = await this.$getData("get", getTypeWorkerUrl);
    this.setTableData(typeWorker);
  }
};
</script>

<style></style>
