<template>
  <div class="col-12">
    <div class="admin-cnt">
      <div class="cnt-tlt">Calendar View</div>
      <div class="apointment-srl-are">
        <vue-cal
          :time-from="time_form"
          :time-to="time_to"
          :time-step="calStep"
          :disable-views="['years', 'year']"
          :events="data.event"
          :on-event-click="onEventClick"
          class="vue-cal-ctm"
          @ready="logEvents('ready', $event)"
          @view-change="logEvents('view-change', $event)"
          @event-create="logEvents('event-create', $event)"
          v-if="type_id"
        ></vue-cal>
      </div>
      <transition name="appear">
        <CalendarModal
          v-if="isCalendarModal"
          :calendarModelD="calendarModelD"
          @confirmedBooking="confirmedBookingR($event)"
          @cancledBooking="cancledBookingR($event)"
          @completedBooking="completedBookingR($event)"
          @bookUser="bookUser"
          @cancel="cancel"
        />
      </transition>
      <transition name="appear">
        <BookUserModal
          v-if="isBookUserModal"
          :calendarModelD="calendarModelD"
          @cancel="cancelBookUserModal"
          @booking="booking($event)"
        />
      </transition>
      <transition name="appear">
        <ConfirmCancledModal
          :data="selectedData"
          v-if="cancledModal"
          @confirm="cancledBooking($event)"
          @cancel="cancelCancled"
        />
      </transition>
      <transition name="appear">
        <ConfirmModal
          :data="selectedData"
          v-if="confirmedModal"
          @confirm="confirmedBooking($event)"
          @cancel="cancelConfirmed"
        />
      </transition>
      <transition name="appear">
        <CompleteModal
          :data="selectedData"
          v-if="completedModal"
          @complete="completedBooking($event)"
          @cancel="cancelCompleted"
        />
      </transition>
    </div>
  </div>
</template>

<script>
import CalendarModal from "./modal/CalendarModal.vue";
import BookUserModal from "./modal/BookUserModal.vue";
import ConfirmCancledModal from "./modal/ConfirmCancledModal.vue";
import ConfirmModal from "./modal/ConfirmModal.vue";
import CompleteModal from "./modal/CompleteModal.vue";
export default {
  components: {
    CalendarModal,
    BookUserModal,
    ConfirmCancledModal,
    ConfirmModal,
    CompleteModal
  },
  data() {
    return {
      services: null,
      type_id: null,
      service_id: null,
      calStep: 60,
      isCalendarModal: false,
      data: [],
      calendarModelD: {},
      selectedData: null,
      cancledModal: false,
      confirmedModal: false,
      completedModal: false,
      time_form: 0,
      time_to: 1440,
      isBookUserModal: false
    };
  },
  methods: {
    async logEvents($e, $data) {
      let start_date = $data.startDate;
      let end_date = $data.endDate;
      let start =
        start_date.getFullYear() +
        "-" +
        (start_date.getMonth() + 1) +
        "-" +
        start_date.getDate();
      let end =
        end_date.getFullYear() +
        "-" +
        (end_date.getMonth() + 1) +
        "-" +
        end_date.getDate();
      let getTypesUrl =
        this.$base_url +
        "/api/services/" +
        this.service_id +
        "/types/" +
        this.type_id +
        "/getworkers?start_date=" +
        start +
        "&end_date=" +
        end;
      let types = await this.$getData("get", getTypesUrl);
      this.data = types.data;
      this.calStep = this.data.time;
      if (this.data.start_time == null && this.data.start_time == "") {
        this.time_form = 0 * 60;
      } else {
        this.time_form = this.data.start_time;
      }
      if (this.data.end_time == null || this.data.end_time == "") {
        this.time_to = 24 * 60;
      } else {
        this.time_to = this.data.end_time + 30;
      }
      var container = this.$el.querySelector(".vuecal__bg");
      container.scrollTop = 280;
    },
    booking(input) {
      this.isBookUserModal = false;
      this.data.event.map((e, i) => {
        if (e.start == input.start) {
          e.workers.map((w, j) => {
            if (w.id == input.worker.id) {
              let title = e.title.split("</span>");
              title[j] =
                "<span class='wkr-status-confirm'>" +
                w.name.slice(0, 2).toUpperCase() +
                ". ";
              w.class = "wkr-status-confirm";
              e.workers[j] = w;
              e.title = title.join("</span>");
              this.data.event[i] = e;
            }
          });
        }
      });
    },
    documentClick(e) {
      this.$emit("documentC", e);
    },
    onEventClick(event, e) {
      this.calendarModelD.service_id = this.service_id;
      this.calendarModelD.service_name = this.services.selected.value;
      this.calendarModelD.id = this.data.id;
      this.calendarModelD.name = this.data.name;
      this.calendarModelD.price = this.data.price;
      this.calendarModelD.time = this.data.time;
      this.calendarModelD.event = event;
      this.isCalendarModal = true;
      // console.log(event);

      // Prevent navigating to narrower view (default vue-cal behavior).
      e.stopPropagation();
    },
    bookUser() {
      this.isCalendarModal = false;
      this.isBookUserModal = true;
    },
    cancledBookingR(input) {
      this.isCalendarModal = false;

      this.selectedData = input;
      this.cancledModal = true;
    },
    confirmedBookingR(input) {
      this.isCalendarModal = false;

      this.selectedData = input;
      this.confirmedModal = true;
    },
    completedBookingR(input) {
      this.isCalendarModal = false;

      this.selectedData = input;
      this.completedModal = true;
    },
    cancel() {
      this.isCalendarModal = false;
    },
    cancelBookUserModal() {
      this.isBookUserModal = false;
    },
    cancelCancled() {
      this.cancledModal = false;
      this.selectedData = null;
    },
    cancelConfirmed() {
      this.confirmedModal = false;
      this.selectedData = null;
    },
    async cancledBooking(d) {
      this.cancledModal = false;
      let cancleBookingUrl =
        this.$base_url +
        "/api/services/" +
        d.service_id +
        "/types/" +
        d.type_id +
        "/bookings/" +
        d.booking_id +
        "/cancle";

      let booking = await this.$getData("get", cancleBookingUrl);
      this.data.event.map((e, i) => {
        if (e.start == d.start) {
          e.workers.map((w, j) => {
            if (w.id == d.worker.id) {
              let title = e.title.split("</span>");
              title[j] =
                "<span class='wkr-status-free'>" +
                w.name.slice(0, 2).toUpperCase() +
                ". ";
              w.class = "wkr-status-free";
              e.workers[j] = w;
              e.title = title.join("</span>");
              this.data.event[i] = e;
            }
          });
        }
      });
    },
    async confirmedBooking(d) {
      this.confirmedModal = false;
      let confirmBookingUrl =
        this.$base_url +
        "/api/services/" +
        d.service_id +
        "/types/" +
        d.type_id +
        "/bookings/" +
        d.booking_id +
        "/confirm";

      let booking = await this.$getData("get", confirmBookingUrl);
      this.data.event.map((e, i) => {
        if (e.start == d.start) {
          e.workers.map((w, j) => {
            if (w.id == d.worker.id) {
              let title = e.title.split("</span>");
              title[j] =
                "<span class='wkr-status-confirm'>" +
                w.name.slice(0, 2).toUpperCase() +
                ". ";
              w.class = "wkr-status-confirm";
              e.workers[j] = w;
              e.title = title.join("</span>");
              this.data.event[i] = e;
            }
          });
        }
      });
    },
    async completedBooking(d) {
      this.completedModal = false;
      let completeBookingUrl =
        this.$base_url +
        "/api/services/" +
        d.service_id +
        "/types/" +
        d.type_id +
        "/bookings/" +
        d.booking_id +
        "/complete";

      let booking = await this.$getData("get", completeBookingUrl);
      this.data.event.map((e, i) => {
        if (e.start == d.start) {
          e.workers.map((w, j) => {
            if (w.id == d.worker.id) {
              let title = e.title.split("</span>");
              title[j] =
                "<span class='wkr-status-complete'>" +
                w.name.slice(0, 2).toUpperCase() +
                ". ";
              w.class = "wkr-status-complete";
              e.workers[j] = w;
              e.title = title.join("</span>");
              this.data.event[i] = e;
            }
          });
        }
      });
    },
    setServiceTypeCalStep(data) {
      this.services = data.services;
      this.service_id = data.service_id;
      this.type_id = 0;
      this.$nextTick(() => {
        this.type_id = data.type_id;
      });
      this.calStep = data.calStep;
    }
  },
  created() {
    window.addEventListener("click", this.documentClick);
    this.$parent.$on("setServiceTypeCalStep", this.setServiceTypeCalStep);
  },
  async mounted() {
    if (this.$route.params.service_id) {
      this.service_id = this.$route.params.service_id;
    } else {
      this.service_id = 0;
    }
    if (this.$route.params.type_id) {
      this.type_id = this.$route.params.type_id;
    } else {
      this.type_id = 0;
    }
    if (this.$route.params.calStep) {
      this.calStep = this.$route.params.calStep;
    } else {
      this.calStep = 60;
    }
  }
};
</script>

<style>
.vuecal__event-time {
  display: none;
}
.vuecal__cell-events {
  cursor: pointer;
}
</style>
