<template>
  <section class="admin-header">
    <div class="back-btn">
      <a :href="$base_url + '/user/profile'">
        <i class="fas fa-long-arrow-alt-left"></i> Back to Service
      </a>
    </div>
    <div class="admin-main-menu d-none d-md-block">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <router-link :to="{ name: 'listingCalendar' }" class="nav-link">Listing Calendar</router-link>
        </li>
        <li class="nav-item">
          <router-link :to="{ name: 'typeCalendar' }" class="nav-link">Type</router-link>
        </li>
        <li class="nav-item">
          <router-link :to="{ name: 'workerCalendar' }" class="nav-link">Worker</router-link>
        </li>
        <li class="nav-item">
          <router-link :to="{ name: 'schedulesCalendar' }" class="nav-link">Schedules</router-link>
        </li>
        <li class="nav-item">
          <router-link :to="{ name: 'settingsCalendar' }" class="nav-link">Settings</router-link>
        </li>
      </ul>
    </div>

    <div class="usr-pro">
      <div class="a-pro-pn">
        <div class="ad-name">Ahmed</div>
        <div class="admin-img admin-p">
          <img class="cover" :src="$base_url + '/assets/img/man.jpg'" />
        </div>
      </div>

      <div class="pro-box admin-box" style="display: none;">
        <div class="acnt-list">
          <a :href="$base_url + '/user/profile'">Profile</a>
        </div>
        <div class="acnt-list">
          <a :href="$base_url + '/user/calendar/create'">Create Calendar</a>
        </div>
        <div class="m-logout">
          <a
            :href="$base_url + '/user/logout'"
            onclick="event.preventDefault();
					document.getElementById('logout-form').submit();"
          >
            <button class="btn p-btn l-btn">Log out</button>
            <form
              id="logout-form"
              :action="$base_url + '/user/logout'"
              method="POST"
              style="display: none;"
            >
              <input type="hidden" name="_token" :value="$csrf_token" />
            </form>
          </a>
        </div>
      </div>
    </div>
    <div class="mobile-menu d-block d-md-none">
      <div class="m-bar">
        <span class>
          <i class="fas fa-bars" @click="isMobileM = !isMobileM"></i>
        </span>
      </div>
      <div class="mbl-m" :class="{'d-none': isMobileM}">
        <ul>
          <li>
            <a href="#">Listing Calendar</a>
          </li>
          <li>
            <a href="#">Type</a>
          </li>
          <li>
            <a href="#">Worker</a>
          </li>
          <li>
            <a href="#">Schedules</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      isMobileM: true
    };
  }
};
</script>

<style>
</style>