<template>
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-sm-12">
        <div class="admin-cnt">
          <div class="cnt-tlt">List View</div>
          <div class="table-responsive">
            <v-client-table :data="tableData" :columns="columns" :options="options">
              <div slot="client_name" slot-scope="{ row }">
                <a
                  target="_blank"
                  :href="$base_url + '/public-profile/' + row.client_name + '/' + row.client_id"
                >{{row.client_name}}</a>
                <div class="phone-no">{{row.phone}}</div>
              </div>
              <div slot="worker_name" slot-scope="{ row }">
                {{row.worker_name}}
                <div class="service-type">{{row.service_name}} -> {{row.type_name}}</div>
              </div>
              <div slot="action" slot-scope="{ row }">
                <template v-if="completedA[row.si - 1] == 0">
                  <template v-if="cancledA[row.si - 1] == 1">
                    <button class="btn del-btn warning" disabled>Cancled</button>
                  </template>
                  <template v-else>
                    <button
                      class="btn del-btn warning"
                      @click="cancled(item_values[row.si - 1], item_ids[row.si - 1], row.si, row.service_id, row.type_id)"
                    >Cancle</button>
                    <button
                      class="btn edit-btn warning"
                      v-if="cancledA[row.si - 1] == 0 && confirmedA[row.si - 1] == 0"
                      @click="confirmed(item_values[row.si - 1], item_ids[row.si - 1], row.si, row.service_id, row.type_id)"
                    >Pending</button>
                    <template v-else>
                      <button
                        class="btn add-btn warning"
                        v-if="confirmedA[row.si - 1]"
                        disabled
                      >Confirmed</button>
                      <button
                        class="btn add-btn warning"
                        @click="confirmed(item_values[row.si - 1], item_ids[row.si - 1], row.si, row.service_id, row.type_id)"
                        v-else
                      >Confirm</button>
                      <button
                        class="btn add-btn warning"
                        @click="completed(item_values[row.si - 1], item_ids[row.si - 1], row.si, row.service_id, row.type_id)"
                      >Complete</button>
                    </template>
                  </template>
                </template>
                <template v-else>
                  <button class="btn add-btn warning" disabled>Completed</button>
                </template>
              </div>
            </v-client-table>
          </div>
        </div>
      </div>
    </div>
    <transition name="appear">
      <ConfirmCancledModal
        :data="selectedData"
        v-if="cancledModal"
        @confirm="cancledBooking($event)"
        @cancel="cancelCancled"
      />
    </transition>
    <transition name="appear">
      <ConfirmModal
        :data="selectedData"
        v-if="confirmedModal"
        @confirm="confirmedBooking($event)"
        @cancel="cancelConfirmed"
      />
    </transition>
    <transition name="appear">
      <CompleteModal
        :data="selectedData"
        v-if="completeModal"
        @complete="completedBooking($event)"
        @cancel="cancelCompleted"
      />
    </transition>
  </div>
</template>

<script>
import ConfirmCancledModal from "./modal/ConfirmCancledModal.vue";
import ConfirmModal from "./modal/ConfirmModal.vue";
import CompleteModal from "./modal/CompleteModal.vue";
export default {
  components: {
    ConfirmCancledModal,
    ConfirmModal,
    CompleteModal
  },
  data() {
    return {
      columns: ["si", "client_name", "worker_name", "date", "time", "action"],
      tableData: [],
      options: {
        sortIcon: {
          is: "fa-arrows-alt-v",
          base: "fas",
          up: "fa-long-arrow-alt-up",
          down: "fa-long-arrow-alt-down"
        },
        sortable: ["si", "client_name", "worker_name", "date", "time"],
        filterable: ["client_name", "worker_name", "date", "time"]
      },
      item_ids: [],
      item_values: [],
      cancledA: [],
      confirmedA: [],
      completedA: [],
      selectedData: null,
      cancledModal: false,
      confirmedModal: false,
      completeModal: false,
      service_id: null,
      type_id: null
    };
  },
  methods: {
    setTableData(booking) {
      let self = this;
      this.item_ids = [];
      this.item_values = [];
      this.cancledA = [];
      this.confirmedA = [];
      this.completedA = [];
      let i = 1;
      if (booking.success) {
        this.tableData = booking.data.map(item => {
          this.item_ids.push(item.id);
          this.cancledA.push(item.cancle);
          this.confirmedA.push(item.confirm);
          this.completedA.push(item.complete);
          this.item_values.push(
            item.date +
              " ( " +
              item.start +
              " - " +
              item.end +
              " )<br /><small class='f-s-14'>for worker</small> " +
              item.worker.name
          );
          return {
            id: item.id,
            si: i++,
            client_id: item.user.id,
            client_name: item.user.name,
            phone: item.user.phone,
            worker_name: item.worker.name,
            service_name: item.service.title,
            service_id: item.service.id,
            type_name: item.type.name,
            type_id: item.type.id,
            date: item.date,
            time: item.start + " - " + item.end
          };
        });
      } else {
        this.$toast.error(booking.message, {
          duration: 5000,
          dismissible: true
        });
      }
    },
    addTableData(booking) {
      // console.log(booking);
      // console.log(this.tableData);
      if (booking.success) {
        this.tableData = this.tableData.map(item => {
          if (item.id == booking.data.id) {
            this.item_ids[item.si - 1] = booking.data.id;
            this.cancledA[item.si - 1] = booking.data.cancle;
            this.confirmedA[item.si - 1] = booking.data.confirm;
            this.completedA[item.si - 1] = booking.data.complete;
            this.item_values[item.si - 1] =
              booking.data.date +
              " ( " +
              booking.data.start +
              " - " +
              booking.data.end +
              " )<br /><small class='f-s-14'>for worker</small> " +
              booking.data.worker.name;
            return {
              id: booking.data.id,
              si: item.si,
              client_id: booking.data.user.id,
              client_name: booking.data.user.name,
              phone: booking.data.user.phone,
              worker_name: booking.data.worker.name,
              service_name: booking.data.service.title,
              service_id: booking.data.service.id,
              type_name: booking.data.type.name,
              type_id: booking.data.type.id,
              date: booking.data.date,
              time: booking.data.start + " - " + booking.data.end
            };
          } else {
            return item;
          }
        });
      } else {
        this.$toast.error(booking.message, {
          duration: 5000,
          dismissible: true
        });
      }
    },
    cancled(val, id, rowid, service_id, type_id) {
      this.selectedData = {
        rowid: rowid,
        id: id,
        value: val,
        service_id: service_id,
        type_id: type_id
      };
      this.cancledModal = true;
    },
    confirmed(val, id, rowid, service_id, type_id) {
      this.selectedData = {
        rowid: rowid,
        id: id,
        value: val,
        service_id: service_id,
        type_id: type_id
      };
      this.confirmedModal = true;
    },
    completed(val, id, rowid, service_id, type_id) {
      this.selectedData = {
        rowid: rowid,
        id: id,
        value: val,
        service_id: service_id,
        type_id: type_id
      };
      this.completeModal = true;
    },
    cancelCancled() {
      this.cancledModal = false;
      this.selectedData = null;
    },
    cancelConfirmed() {
      this.confirmedModal = false;
      this.selectedData = null;
    },
    cancelCompleted() {
      this.completeModal = false;
      this.selectedData = null;
    },
    async cancledBooking(d) {
      this.cancledModal = false;
      let cancleBookingUrl =
        this.$base_url +
        "/api/services/" +
        d.service_id +
        "/types/" +
        d.type_id +
        "/bookings/" +
        d.id +
        "/cancle";

      let booking = await this.$getData("get", cancleBookingUrl);
      // console.log(booking);
      this.addTableData(booking);
    },
    async confirmedBooking(d) {
      this.confirmedModal = false;
      let confirmBookingUrl =
        this.$base_url +
        "/api/services/" +
        d.service_id +
        "/types/" +
        d.type_id +
        "/bookings/" +
        d.id +
        "/confirm";

      let booking = await this.$getData("get", confirmBookingUrl);
      // console.log(booking);
      this.addTableData(booking);
    },
    async completedBooking(d) {
      this.completeModal = false;
      let completeBookingUrl =
        this.$base_url +
        "/api/services/" +
        d.service_id +
        "/types/" +
        d.type_id +
        "/bookings/" +
        d.id +
        "/complete";

      let booking = await this.$getData("get", completeBookingUrl);
      // console.log(booking);
      this.addTableData(booking);
    },
    setServiceTypeCalStep(data) {
      this.service_id = data.service_id;
      this.type_id = 0;
      this.$nextTick(() => {
        this.type_id = data.type_id;
      });
    }
  },
  created() {
    this.$parent.$on("setTableData", this.setTableData);
    this.$parent.$on("setServiceTypeCalStep", this.setServiceTypeCalStep);
  },
  async mounted() {
    if (this.$route.params.service_id) {
      this.service_id = this.$route.params.service_id;
    } else {
      this.service_id = 0;
    }
    if (this.$route.params.type_id) {
      this.type_id = this.$route.params.type_id;
    } else {
      this.type_id = 0;
    }
    // console.log(this.type_id);
    let getBookingUrl =
      this.$base_url +
      "/api/services/" +
      this.service_id +
      "/types/" +
      this.type_id +
      "/getbookingn";

    let booking = await this.$getData("get", getBookingUrl);
    this.setTableData(booking);
  }
};
</script>

<style scoped>
.service-type {
  color: #2a8c2a;
  font-size: 12px;
}
</style>