<template>
  <div>
    <section class="form-sec sec-pad listing">
      <div class="row">
        <div class="col-12 col-sm-12">
          <ul class="secondary-menu float-right">
            <li>
              <router-link
                :to="{ name: 'listingCalendar.calendarView', params: {service_id: service_id, type_id: type_id, calStep: calStep} }"
              >Calendar View</router-link>
            </li>
            <li>
              <router-link
                :to="{ name: 'listingCalendar.listView', params: {service_id: service_id, type_id: type_id}}"
              >List View</router-link>
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-6">
          <SingleSrcSelect
            :sBox="services.sBox"
            @hideOption="hideOption"
            :label="services.label"
            :selected="services.selected"
            :name="services.name"
            :items.sync="services.items"
            :disabled="false"
            @setSelectedVal="setSelectedVal($event)"
            v-if="reRenderServices"
          />
        </div>
        <div class="col-12 col-sm-6">
          <SingleSrcSelect
            :sBox="types.sBox"
            @hideOption="hideOption"
            :label="types.label"
            :selected="types.selected"
            :name="types.name"
            :items.sync="types.items"
            :disabled="false"
            @setSelectedVal="setSelectedVal($event)"
            v-if="reRenderTypes"
          />
        </div>
        <router-view name="listing" />
      </div>
    </section>
  </div>
</template>

<script>
import SingleSrcSelect from "./selectOption/SingleSrcSelect.vue";
export default {
  components: {
    SingleSrcSelect
  },
  data() {
    return {
      types: {
        sBox: "types",
        label: "Types",
        name: "type_id",
        selected: {
          value: "Select Type",
          id: ""
        },
        items: []
      },
      typeData: null,
      type_id: 0,
      reRenderTypes: true,
      services: {
        sBox: "services",
        label: "Services",
        name: "service_id",
        selected: {
          value: "Select Service",
          id: ""
        },
        items: []
      },
      service_id: null,
      reRenderServices: true,
      calStep: 60
    };
  },
  methods: {
    hideOption(d) {
      this.$emit("updateTroggleOption", d);
    },
    async setSelectedVal(d) {
      if (d.key == "types") {
        this.type_id = d.value;
      } else if (d.key == "services") {
        this.service_id = d.value;
        let getTypesUrl =
          this.$base_url +
          "/api/services/" +
          this.service_id +
          "/service-types";

        let types = await this.$getData("get", getTypesUrl);

        this.typeData = types.data;
        if (types.success) {
          this.types.items = types.data.map(item => {
            return {
              key: item.id,
              value: item.name
            };
          });
        }
        if (this.service_id == 0) {
          this.types.items.unshift({
            key: 0,
            value: "All"
          });
        }
        if (this.types.items.length) {
          this.types.selected.value = this.types.items[0].value;
          this.types.selected.id = this.types.items[0].key;
          // console.log(this.types.selected.value);

          this.type_id = this.types.items[0].key;
          this.calStep = this.typeData[0].time;
        } else {
          this.type_id = 0;
          this.calStep = 60;
        }
        this.reRenderTypesI();
      }
      let getBookingUrl =
        this.$base_url +
        "/api/services/" +
        this.service_id +
        "/types/" +
        this.type_id +
        "/getbookingn";

      let booking = await this.$getData("get", getBookingUrl);
      this.$emit("setTableData", booking);
      this.$emit("setServiceTypeCalStep", {
        services: this.services,
        service_id: this.service_id,
        type_id: this.type_id,
        calStep: this.calStep
      });
    },
    reRenderServicesI() {
      this.reRenderServices = false;
      this.$nextTick(() => {
        this.reRenderServices = true;
      });
    },
    reRenderTypesI() {
      this.reRenderTypes = false;
      this.$nextTick(() => {
        this.reRenderTypes = true;
      });
    }
  },
  created() {
    window.addEventListener("click", this.documentClick);
  },
  async mounted() {
    let self = this;
    let getServicesUrl = this.$base_url + "/api/services/" + this.$user_id;
    let services = await this.$getData("get", getServicesUrl);

    if (services.success) {
      this.services.items = services.data.map(item => {
        return {
          key: item.id,
          value: item.title
        };
      });
    }

    this.services.items.unshift({
      key: 0,
      value: "All"
    });
    this.services.selected.value = this.services.items[0].value;
    this.reRenderServicesI();
    this.service_id = this.services.items[0].key;
    let getTypesUrl =
      this.$base_url + "/api/services/" + this.service_id + "/service-types";

    let types = await this.$getData("get", getTypesUrl);

    this.typeData = types.data;
    if (types.success) {
      this.types.items = types.data.map(item => {
        return {
          key: item.id,
          value: item.name
        };
      });
    }
    this.types.items.unshift({
      key: 0,
      value: "All"
    });
    if (this.types.items.length) {
      this.types.selected.value = this.types.items[0].value;
      this.types.selected.id = this.types.items[0].key;
      // console.log(this.types.selected.value);
      this.type_id = this.types.items[0].key;
      this.calStep = this.typeData[0].time;
    } else {
      this.type_id = 0;
      this.calStep = 60;
    }
    this.reRenderTypesI();
  }
};
</script>

<style scoped>
.service-type {
  color: #2a8c2a;
  font-size: 12px;
}
</style>
