<template>
  <div>
    <section class="form-sec sec-pad">
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="admin-cnt">
            <div class="cnt-tlt">Settings</div>
            <div class="form">
              <form @submit.prevent="storeSettings">
                <div class="row">
                  <div class="col-12">
                    <div class="form-check form-check-inline">
                      <label class="checkbox">
                        <input
                          type="checkbox"
                          id="disable_calendar"
                          v-model="isCalendar"
                          value="1"
                          @change="uniqueCheck"
                        />
                        <span class="primary"></span>
                      </label>
                      <label class="form-check-label" for="disable_calendar">Disable Calendar</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <label class="checkbox">
                        <input
                          type="checkbox"
                          id="approve_need"
                          v-model="isCalendar"
                          value="2"
                          @change="uniqueCheck"
                        />
                        <span class="primary"></span>
                      </label>
                      <label class="form-check-label" for="approve_need">Approve Need</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <label class="checkbox">
                        <input
                          type="checkbox"
                          id="approve_no_need"
                          v-model="isCalendar"
                          value="3"
                          @change="uniqueCheck"
                        />
                        <span class="primary"></span>
                      </label>
                      <label class="form-check-label" for="approve_no_need">Approve No Need</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn ctm-btn float-right" type="submit">save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      isCalendar: []
    };
  },
  methods: {
    uniqueCheck(e) {
      this.isCalendar = [];
      if (e.target.checked) {
        this.isCalendar.push(e.target.value);
      }
    },
    async storeSettings() {
      let data = {
        is_calendar: this.isCalendar[0]
      };
      let storeSettings =
        this.$base_url + "/api/user/" + this.$user_id + "/settings";
      let response = await this.$getData("post", storeSettings, data);
      //   console.log(response);
      if (response.success) {
        this.$toast.success(response.message, {
          duration: 5000,
          dismissible: true
        });
      }
    }
  },
  created() {},
  async mounted() {
    let settings = this.$base_url + "/api/user/" + this.$user_id + "/settings";
    let response = await this.$getData("get", settings);
    // console.log(response);
    this.isCalendar.push(response.data.is_calendar);
  }
};
</script>

<style>
</style>