<template>
  <div class="col-12 col-sm-12">
    <div class="admin-cnt">
      <div class="cnt-tlt">
        Working Day Schedules
        <WeekPicker class="psn-ab-tr-015" @pickPicker="pickPicker($event)" />
      </div>
      <SingleSrcSelect
        :sBox="workers.sBox"
        @hideOption="hideOption"
        :label="workers.label"
        :selected="workers.selected"
        :name="workers.name"
        :items.sync="workers.items"
        :disabled="false"
        @setSelectedVal="setSelectedVal($event)"
        v-if="reRenderWorkers"
        class="po-ab-ss"
      />
      <div class="table-responsive">
        <v-client-table
          :data="tableData"
          :columns="columns"
          :options="options"
          class="m-t-40 working-day-tbl"
        ></v-client-table>
      </div>
    </div>
    <transition name="appear">
      <AddWorkingDayModal
        v-if="isAddWorkerDay"
        @confirm="saveWorkerDayData($event)"
        @delete="deleteWorkerDayData($event)"
        @cancel="cancelAddWorkerDay"
      />
    </transition>
  </div>
</template>

<script>
import AddWorkingDayModal from "./modal/AddWorkingDayModal.vue";
import WeekPicker from "./picker/WeekPicker.vue";
import SingleSrcSelect from "./selectOption/SingleSrcSelect.vue";
import Sun from "./workingDayTemplete/Sun.vue";
import Mon from "./workingDayTemplete/Mon.vue";
import Tue from "./workingDayTemplete/Tue.vue";
import Wed from "./workingDayTemplete/Wed.vue";
import Thu from "./workingDayTemplete/Thu.vue";
import Fri from "./workingDayTemplete/Fri.vue";
import Sat from "./workingDayTemplete/Sat.vue";
export default {
  components: {
    WeekPicker,
    SingleSrcSelect,
    AddWorkingDayModal
  },
  data() {
    return {
      columns: ["worker", "mon", "tue", "wed", "thu", "fri", "sat", "sun"],
      tableData: [],
      options: {
        sortIcon: {
          is: "fa-arrows-alt-v",
          base: "fas",
          up: "fa-long-arrow-alt-up",
          down: "fa-long-arrow-alt-down"
        },
        headings: {},
        templates: {},
        sortable: [],
        filterable: ["Worker"],
        perPage: 10,
        perPageValues: []
      },
      workers: {
        sBox: "workers",
        label: "Workers",
        name: "worker_id",
        selected: {
          value: "All",
          id: ""
        },
        items: []
      },
      years: {},
      ddtes: [],
      worker_id: 0,
      reRenderWorkers: true,
      isAddWorkerDay: false
    };
  },
  methods: {
    async setSelectedVal(d) {
      if (d.key == "workers") this.worker_id = d.value;

      if (this.worker_id) {
        this.getOneWorkerData();
      } else {
        this.getAllWorkerData();
      }
    },
    hideOption(d) {
      this.$emit("updateTroggleOption", d);
    },
    reRenderWorkersI() {
      this.reRenderWorkers = false;
      this.$nextTick(() => {
        this.reRenderWorkers = true;
      });
    },
    pickPicker(d) {
      d.days.unshift("worker");
      d.year.unshift("");
      this.ddtes = [];
      for (let i = 0; i < d.days.length; i++) {
        this.options.headings[this.columns[i]] = d.days[i];
        this.years[this.columns[i]] = d.year[i];
        if (i != 0) {
          this.ddtes.push(d.days[i] + " " + d.year[i]);
        }
      }
      if (this.worker_id) {
        this.getOneWorkerData();
      } else {
        this.getAllWorkerData();
      }
    },
    async addWorkerDay(d) {
      this.isAddWorkerDay = true;
      let addWWorkingDay =
        this.$base_url +
        "/api/users/" +
        this.$user_id +
        "/workers/" +
        d.worker_id +
        "/daysget";

      let workingDays = await this.$getData("post", addWWorkingDay, d);
      let modalData = {
        info: d,
        wd: workingDays
      };
      // console.log(modalData);
      this.$emit("setUpdateWorkingDayD", modalData);
    },
    async getAllWorkerData() {
      this.tableData = [];
      let wkddata = {
        date: this.ddtes
      };
      let getWorkingDaysUrl =
        this.$base_url + "/api/users/" + this.$user_id + "/workers/all/daysall";

      let workingDays = await this.$getData("post", getWorkingDaysUrl, wkddata);
      this.workers.items.filter(item => {
        if (item.key != 0) {
          let obj = {};
          obj["id"] = item.key;
          obj["date"] = this.options.headings;
          obj["years"] = this.years;
          obj["worker"] = item.value;
          for (let k = 0; k < this.columns.length; k++) {
            if (k == 0) {
              obj[this.columns[k]] = item.value;
            } else {
              workingDays.data.filter(itm => {
                if (itm.worker_id == item.key) {
                  itm.data.filter(itm1 => {
                    if (itm1.day.toLowerCase() == this.columns[k]) {
                      if (itm1.start.length) {
                        obj[this.columns[k]] = itm1.start + " - " + itm1.end;
                      }
                    }
                  });
                }
              });
            }
          }
          this.tableData.push(obj);
          let obj1 = {};
          obj1[this.columns[1]] = Mon;
          obj1[this.columns[2]] = Tue;
          obj1[this.columns[3]] = Wed;
          obj1[this.columns[4]] = Thu;
          obj1[this.columns[5]] = Fri;
          obj1[this.columns[6]] = Sat;
          obj1[this.columns[7]] = Sun;
          this.options.templates = obj1;
        }
      });
    },
    async getOneWorkerData() {
      this.tableData = [];
      let wkddata = {
        date: this.ddtes
      };
      let getWorkingDaysUrl =
        this.$base_url +
        "/api/users/" +
        this.$user_id +
        "/workers/" +
        this.worker_id +
        "/weeks";
      let workingDays = await this.$getData("post", getWorkingDaysUrl, wkddata);
      this.workers.items.filter(item => {
        if (item.key == this.worker_id) {
          let obj = {};
          obj["id"] = item.key;
          obj["date"] = this.options.headings;
          obj["years"] = this.years;
          obj["worker"] = item.value;
          for (let k = 0; k < this.columns.length; k++) {
            if (k == 0) {
              obj[this.columns[k]] = item.value;
            } else {
              workingDays.data.filter(itm => {
                if (itm.worker_id == item.key) {
                  itm.data.filter(itm1 => {
                    if (itm1.day.toLowerCase() == this.columns[k]) {
                      if (itm1.start.length) {
                        obj[this.columns[k]] = itm1.start + " - " + itm1.end;
                      }
                    }
                  });
                }
              });
            }
          }
          this.tableData.push(obj);
          let obj1 = {};
          obj1[this.columns[1]] = Mon;
          obj1[this.columns[2]] = Tue;
          obj1[this.columns[3]] = Wed;
          obj1[this.columns[4]] = Thu;
          obj1[this.columns[5]] = Fri;
          obj1[this.columns[6]] = Sat;
          obj1[this.columns[7]] = Sun;
          this.options.templates = obj1;
        }
      });
    },
    cancelAddWorkerDay() {
      this.isAddWorkerDay = false;
    },
    async saveWorkerDayData(d) {
      this.isAddWorkerDay = false;
      this.tableData = [];
      let wkddata = {
        date: this.ddtes
      };
      if (this.worker_id) {
        let getWorkingDaysUrl =
          this.$base_url +
          "/api/users/" +
          this.$user_id +
          "/workers/" +
          this.worker_id +
          "/weeks";
        let workingDays = await this.$getData(
          "post",
          getWorkingDaysUrl,
          wkddata
        );
        this.workers.items.filter(item => {
          if (item.key == this.worker_id) {
            let obj = {};
            obj["id"] = item.key;
            obj["date"] = this.options.headings;
            obj["years"] = this.years;
            obj["worker"] = item.value;
            for (let k = 0; k < this.columns.length; k++) {
              if (k == 0) {
                obj[this.columns[k]] = item.value;
              } else {
                workingDays.data.filter(itm => {
                  if (itm.worker_id == item.key) {
                    itm.data.filter(itm1 => {
                      if (itm1.day.toLowerCase() == this.columns[k]) {
                        if (itm1.start.length) {
                          obj[this.columns[k]] = itm1.start + " - " + itm1.end;
                        }
                        if (
                          itm1.day.toLowerCase() == d.day.toLowerCase() &&
                          itm.worker_id == d.worker_id
                        ) {
                          obj[d.day.toLowerCase()] =
                            d.start.slice(0, -3) + " - " + d.end.slice(0, -3);
                        }
                      }
                    });
                  }
                });
              }
            }
            this.tableData.push(obj);
            let obj1 = {};
            obj1[this.columns[1]] = Mon;
            obj1[this.columns[2]] = Tue;
            obj1[this.columns[3]] = Wed;
            obj1[this.columns[4]] = Thu;
            obj1[this.columns[5]] = Fri;
            obj1[this.columns[6]] = Sat;
            obj1[this.columns[7]] = Sun;
            this.options.templates = obj1;
          }
        });
      } else {
        let getWorkingDaysUrl =
          this.$base_url +
          "/api/users/" +
          this.$user_id +
          "/workers/all/daysall";

        let workingDays = await this.$getData(
          "post",
          getWorkingDaysUrl,
          wkddata
        );
        this.workers.items.filter(item => {
          if (item.key != 0) {
            let obj = {};
            obj["id"] = item.key;
            obj["date"] = this.options.headings;
            obj["years"] = this.years;
            obj["worker"] = item.value;
            for (let k = 0; k < this.columns.length; k++) {
              if (k == 0) {
                obj[this.columns[k]] = item.value;
              } else {
                workingDays.data.filter(itm => {
                  if (itm.worker_id == item.key) {
                    itm.data.filter(itm1 => {
                      if (itm1.day.toLowerCase() == this.columns[k]) {
                        if (itm1.start.length) {
                          obj[this.columns[k]] = itm1.start + " - " + itm1.end;
                        }
                        if (
                          itm1.day.toLowerCase() == d.day.toLowerCase() &&
                          itm.worker_id == d.worker_id
                        ) {
                          obj[d.day.toLowerCase()] =
                            d.start.slice(0, -3) + " - " + d.end.slice(0, -3);
                        }
                      }
                    });
                  }
                });
              }
            }
            this.tableData.push(obj);
            let obj1 = {};
            obj1[this.columns[1]] = Mon;
            obj1[this.columns[2]] = Tue;
            obj1[this.columns[3]] = Wed;
            obj1[this.columns[4]] = Thu;
            obj1[this.columns[5]] = Fri;
            obj1[this.columns[6]] = Sat;
            obj1[this.columns[7]] = Sun;
            this.options.templates = obj1;
          }
        });
      }
      let saveData =
        this.$base_url +
        "/api/users/" +
        this.$user_id +
        "/workers/" +
        d.worker_id +
        "/addday";

      let getSingleData = await this.$getData("post", saveData, d);
      // console.log(getSingleData);
    },
    async deleteWorkerDayData(d) {
      this.isAddWorkerDay = false;
      let deleteData =
        this.$base_url +
        "/api/users/" +
        this.$user_id +
        "/workers/" +
        d.worker_id +
        "/deleteday";

      let getSingleData = await this.$getData("post", deleteData, d);
      this.tableData = [];
      let wkddata = {
        date: this.ddtes
      };
      if (this.worker_id) {
        let getWorkingDaysUrl =
          this.$base_url +
          "/api/users/" +
          this.$user_id +
          "/workers/" +
          this.worker_id +
          "/weeks";
        let workingDays = await this.$getData(
          "post",
          getWorkingDaysUrl,
          wkddata
        );
        this.workers.items.filter(item => {
          if (item.key == this.worker_id) {
            let obj = {};
            obj["id"] = item.key;
            obj["date"] = this.options.headings;
            obj["years"] = this.years;
            obj["worker"] = item.value;
            for (let k = 0; k < this.columns.length; k++) {
              if (k == 0) {
                obj[this.columns[k]] = item.value;
              } else {
                workingDays.data.filter(itm => {
                  if (itm.worker_id == item.key) {
                    itm.data.filter(itm1 => {
                      if (itm1.day.toLowerCase() == this.columns[k]) {
                        if (itm1.start.length) {
                          obj[this.columns[k]] = itm1.start + " - " + itm1.end;
                        }
                        if (
                          itm1.day.toLowerCase() == d.day.toLowerCase() &&
                          itm.worker_id == d.worker_id
                        ) {
                          obj[d.day.toLowerCase()] =
                            d.start.slice(0, -3) + " - " + d.end.slice(0, -3);
                        }
                      }
                    });
                  }
                });
              }
            }
            this.tableData.push(obj);
            let obj1 = {};
            obj1[this.columns[1]] = Mon;
            obj1[this.columns[2]] = Tue;
            obj1[this.columns[3]] = Wed;
            obj1[this.columns[4]] = Thu;
            obj1[this.columns[5]] = Fri;
            obj1[this.columns[6]] = Sat;
            obj1[this.columns[7]] = Sun;
            this.options.templates = obj1;
          }
        });
      } else {
        let getWorkingDaysUrl =
          this.$base_url +
          "/api/users/" +
          this.$user_id +
          "/workers/all/daysall";

        let workingDays = await this.$getData(
          "post",
          getWorkingDaysUrl,
          wkddata
        );
        this.workers.items.filter(item => {
          if (item.key != 0) {
            let obj = {};
            obj["id"] = item.key;
            obj["date"] = this.options.headings;
            obj["years"] = this.years;
            obj["worker"] = item.value;
            for (let k = 0; k < this.columns.length; k++) {
              if (k == 0) {
                obj[this.columns[k]] = item.value;
              } else {
                workingDays.data.filter(itm => {
                  if (itm.worker_id == item.key) {
                    itm.data.filter(itm1 => {
                      if (itm1.day.toLowerCase() == this.columns[k]) {
                        if (itm1.start.length) {
                          obj[this.columns[k]] = itm1.start + " - " + itm1.end;
                        }
                      }
                    });
                  }
                });
              }
            }
            this.tableData.push(obj);
            let obj1 = {};
            obj1[this.columns[1]] = Mon;
            obj1[this.columns[2]] = Tue;
            obj1[this.columns[3]] = Wed;
            obj1[this.columns[4]] = Thu;
            obj1[this.columns[5]] = Fri;
            obj1[this.columns[6]] = Sat;
            obj1[this.columns[7]] = Sun;
            this.options.templates = obj1;
          }
        });
      }
      // console.log(getSingleData);
    }
  },
  async mounted() {
    let getWorkersUrl =
      this.$base_url + "/api/users/" + this.$user_id + "/workers";

    let workers = await this.$getData("get", getWorkersUrl);
    if (workers.success) {
      this.workers.items = workers.data.map(item => {
        return {
          key: item.id,
          value: item.name + " ( " + item.surname + " )"
        };
      });
    } else {
      this.$toast.error(workers.message, {
        duration: 5000,
        dismissible: true
      });
    }
    this.workers.items.unshift({
      key: 0,
      value: "All"
    });
    this.reRenderWorkersI();
    this.$root.$on("addWorkerDay", this.addWorkerDay);
  }
};
</script>

<style></style>
