@import "create_calendar_base/_main";
body {
    background: #f9f9f9;
}
a {
    color: $color1;
    &:hover {
        text-decoration: none;
        color: $color2;
    }
}
.piker-box {
    height: 40px;
}
.psn-r {
    position: relative;
}
.f-s-14 {
    font-size: 14px;
}
.m-t-m-10 {
    margin-top: -10px;
}
.m-l-0 {
    margin-left: 0 !important;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-40 {
    margin-top: 40px;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb {
    &:hover {
        background: #e25b37;
    }
}
.checkbox {
    background-color: #fff;
    display: inline-block;
    height: 28px;
    margin: 0 0.25em;
    width: 28px;
    border-radius: 4px;
    border: 1px solid #ccc;
    span {
        display: block;
        height: 28px;
        position: relative;
        width: 28px;
        padding: 0;
        &:after {
            -moz-transform: scaleX(-1) rotate(135deg);
            -ms-transform: scaleX(-1) rotate(135deg);
            -webkit-transform: scaleX(-1) rotate(135deg);
            transform: scaleX(-1) rotate(135deg);
            -moz-transform-origin: left top;
            -ms-transform-origin: left top;
            -webkit-transform-origin: left top;
            transform-origin: left top;
            border-right: 4px solid #fff;
            border-top: 4px solid #fff;
            content: "";
            display: block;
            height: 20px;
            left: 3px;
            position: absolute;
            top: 15px;
            width: 10px;
        }
        &:hover {
            &:after {
                border-color: #999;
            }
        }
    }
    input {
        display: none;
    }
}
.checkbox input:checked + span:after {
    -webkit-animation: check 0.8s;
    -moz-animation: check 0.8s;
    -o-animation: check 0.8s;
    animation: check 0.8s;
    border-color: #555;
}
.checkbox input:checked + .default:after {
    border-color: #444;
}
.checkbox input:checked + .primary:after {
    border-color: #2196f3;
}
.checkbox input:checked + .success:after {
    border-color: #8bc34a;
}
.checkbox input:checked + .info:after {
    border-color: #3de0f5;
}
.checkbox input:checked + .warning:after {
    border-color: #ffc107;
}
.checkbox input:checked + .danger:after {
    border-color: #f44336;
}
.admin-main-menu {
    .nav-tabs {
        padding-left: 60px;
        border-width: 2px;
        border-bottom-color: $color3;
        position: relative;
        .nav-item {
            margin-bottom: -2px;
            &.show {
                .nav-link {
                    border-color: $color3 $color3 $color4;
                    color: $color2;
                }
            }
        }
        .nav-link {
            border-width: 2px;
            font-weight: 600;
            padding: 7px 15px;
            &:hover {
                &:not(.router-link-active) {
                    border: initial;
                    color: #2c7fa2;
                    padding: 9px 17px 7px 17px;
                }
            }
            &.router-link-active {
                border-color: #1a263a #1a263a #f9f9f9;
                color: #2c7fa2;
                background: #f9f9f9;
            }
        }
    }
}
.back-btn {
    padding: 10px 15px;
    font-weight: 600;
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}
.mobile-menu {
    position: absolute;
    left: 15px;
    z-index: 9;
    .mbl-m {
        width: 175px;
        border: 1px solid;
        background: #f9f9f9;
        .m-bar {
            span {
                cursor: pointer;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                display: block;
                padding: 6px 15px;
                border-bottom: 1px solid;
                text-align: left;
                font-size: 14px;
                a {
                    display: block;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}
.usr-pro {
    position: absolute;
    right: 50px;
    top: 22%;
}
.admin-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin;
}
.admin-header {
    position: relative;
    margin-bottom: 30px;
    background: $color4;
}
.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pro-box {
    display: none;
    z-index: 9;
    position: absolute;
    top: 64px;
    right: -4px;
    background: $color5;
    width: 200px;
    border: 1px solid $color6;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
}
.pro-pn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        padding-left: 10px;
        font-weight: 600;
    }
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: solid 20px $color5;
        border-left: solid 20px transparent;
        border-right: solid 20px transparent;
        top: -28px;
        right: 5px;
    }
}
.pro-menu {
    margin-top: 15px;
    border-top: 1px solid $color6;
}
.pro-li {
    border-bottom: 1px solid $color6;
    a {
        display: block;
        padding: 10px 0;
        font-weight: 600;
        text-transform: capitalize;
    }
    &:last-child {
        border-bottom: none;
    }
}
.a-pro-pn {
    display: flex;
    align-items: center;
}
.admin-p {
    cursor: pointer;
}
.ad-name {
    padding-right: 8px;
    font-weight: bold;
    color: $color2;
    font-size: 15px;
    text-transform: uppercase;
}
.form-sec {
    padding-bottom: 30px;
}
.tlt {
    font-size: 25px;
    padding: 10px 0;
    text-align: left;
    font-weight: 600;
    text-transform: capitalize;
    border-bottom: 1px solid $color6;
}
.form-control {
    border-radius: 0;
    &:focus {
        box-shadow: none;
        outline: none;
    }
}
label {
    font-weight: 600;
}
.ctm-btn {
    background: $color7;
    border-radius: 0;
    padding: 6px 25px;
    text-transform: uppercase;
    color: $color4;
    font-weight: 600;
}
.sec-pad {
    padding-left: 50px;
    padding-right: 50px;
}
.admin-cnt {
    border-radius: 3px;
    box-shadow: 0 0 14px 1px $color8;
    padding: 20px;
    background: $color4;
    margin: 0;
}

.cnt-tlt {
    padding-bottom: 20px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
}
.psn-ab-tr-015 {
    position: absolute;
    top: 0;
    right: 15px;
}
.psn-ab-b-17 {
    position: absolute;
    bottom: 17px;
}
.table-sec {
    padding-bottom: 30px;
}
.table-hover {
    tbody {
        tr {
            &:hover {
                background-color: $color5;
            }
        }
    }
}
.VueTables {
    flex: 0 0 100%;
    .VueTables__sort-icon {
        float: right;
        padding: 4px 0 4px 0;
    }
    .table-responsive {
        overflow-x: initial;
        box-shadow: none;
        display: block;
        padding: 0 15px;
    }
    .row {
        margin: 0 !important;
    }
    .VueTables__search {
        width: calc(100% - 65px);
        float: right;
        text-align: right;
        display: block;
        label {
            justify-content: flex-end !important;
        }
    }
    .VueTables__limit {
        float: left;
        display: block;
        width: 65px;
    }
    nav {
        width: 100%;
        .pagination {
            justify-content: flex-end;
        }
    }
}
.table-responsive {
    display: flex;
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin;
    .table {
        box-shadow: 0 0 14px 1px $color8;
        border-radius: 3px;
        border: 1px solid $color5;
        thead {
            th {
                text-transform: uppercase;
                border: none;
                @extend %user-select;
                &:focus {
                    outline: none;
                }
            }
        }
        td {
            &:focus {
                outline: none;
            }
        }
    }
}
.checkbox-ctm {
    .ctm-con {
        position: relative;
        padding: 0 20px 15px 35px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        @extend %user-select;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked {
                & ~ .checkmark {
                    &:after {
                        display: block;
                    }
                }
            }
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: $color6;
        &:after {
            content: "";
            position: absolute;
            display: none;
            top: 3px;
            left: 9px;
            height: 15px;
            width: 7px;
            border: solid $color2;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}
.show-txt {
    display: flex;
    align-items: center;
    .form-control {
        width: 80px;
        margin: 0 6px;
    }
}
.input-group-append {
    cursor: pointer;
}
.input-group-text {
    border-radius: 0;
}
.la-txt {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}
.del-btn,
.add-btn,
.edit-btn {
    color: $color4;
    border-radius: 0;
    font-size: 12px;
    margin: 3px 0;
    padding: 5px 10px;
    font-weight: bold;
}
.edit-btn {
    background: $color2;
}
.add-btn {
    background: $color7;
}
.del-btn {
    background: $color9;
}
.wk-fr-group {
    .btn-ctm-pry,
    .wk-fr-btn {
        &:hover,
        &:not(:disabled):not(.disabled):active,
        &:focus {
            color: black;
            border-color: #c2c2c2;
            background: #f5f5f5;
            box-shadow: none;
        }
        &:not(:disabled):not(.disabled):active:focus {
            box-shadow: none;
        }
    }
}
.btn-ctm-pry {
    background: white;
    color: black;
    border-color: #c2c2c2;
}
.wk-fr-btn {
    min-width: 200px;
    color: black;
    background: white;
    border-color: #c2c2c2;
    border-radius: 0;
    border-left: 0;
}
.arr {
    float: right;
    font-size: 20px;
}
.arr-down {
    color: $color6;
}
.ctm-input-group {
    border: 1px #ced4da solid;
    &:focus-within {
        border-color: #80bdff;
    }
    input {
        border: none;
        background-color: transparent;
        padding-left: 6px;
    }
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
    span {
        display: block;
        padding: 8px 0 6px 7px;
        color: #495057b0;
    }
}
.ctm-select-g {
    position: relative;
    .ctm-select {
        &.disabled {
            background: #d4d4d4;
        }
        position: relative;
        height: 38px;
        min-width: 200px;
        background: #fff;
        padding-left: 15px;
        line-height: 38px;
        color: #495057;
        box-shadow: 0px 6px 20px rgba(53, 54, 58, 0.1);
        cursor: pointer;
        border: 1px solid #ced4da;
        .ctm-select-val {
            @extend %user-select;
        }
        .down-ar {
            position: absolute;
            color: #334ac0;
            right: 10px;
            font-size: 13px;
        }
    }
    .ctm-option-box {
        position: absolute;
        max-height: 200px;
        width: 100%;
        z-index: 9;
        margin-top: 8px;
        border: 1px solid rgba(30, 53, 94, 0.1);
        border-radius: 4px;
        overflow: hidden;
        overflow-y: auto;
        scrollbar-color: #888 #f1f1f1;
        scrollbar-width: thin;
        box-shadow: 0px 6px 20px rgba(51, 74, 192, 0.1);
        .input-group {
            height: auto;
            box-shadow: none;
            margin-bottom: -2px;
            border-radius: 0;
            border-bottom: 1px solid rgba(30, 53, 94, 0.1);
            overflow: hidden;
            scrollbar-color: #888 #f1f1f1;
            scrollbar-width: thin;
            .form-control {
                border-radius: 0;
                border: none;
            }
            .input-group-append {
                margin-left: -1px;
                .input-group-text {
                    background: #fff;
                    border: none;
                }
            }
        }
        .ctm-option-all {
            .ctm-option {
                border-bottom: 1px solid rgba(30, 53, 94, 0.1);
                background: #fff;
                cursor: pointer;
                .ctm-con {
                    @extend %user-select;
                    cursor: pointer;
                    width: 100%;
                    margin: 0;
                    font-weight: normal;
                    padding: 5px 10px 2px 10px;
                }
            }
        }
    }
}
.wkr-status-free {
    color: green;
}
.wkr-status-leave {
    color: red;
}
.wkr-status-busy {
    color: #a95c2e;
}

.wkr-status-confirm {
    color: #1a23aa;
}
.wkr-status-complete {
    color: #288796;
}
.appear-enter {
    opacity: 0;
    transition: 0.5s;
    &.modal {
        .modal-window {
            transform: translate(-75%, -50%);
        }
    }
}
.appear-leave-active {
    opacity: 0;
    transition: 0.5s;
    &.modal {
        .modal-window {
            transform: translate(0, -50%);
        }
    }
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: block;

    .modal-window {
        position: absolute;
        top: 50%;
        left: 50%;
        transition: 0.5s;
        width: 100%;
        min-width: 400px;
        max-width: 600px;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transform: translate(-50%, -50%);
        padding: 1em;
        color: black;
        text-align: center;
        p {
            padding-bottom: 7px;
            padding-right: 30px;
            border-bottom: 1px solid #c1c1c1;
            span {
                display: block;
                color: gray;
                font-size: 12px;
            }
        }
        .cancel {
            &.close {
                top: 20px;
                position: absolute;
                right: 18px;
                font-size: 16px;
            }
        }
        .actions {
            display: flex;
            justify-content: flex-end;
            button {
                font-size: inherit;
                margin: 4px;
                border: none;
                padding: 6px 8px;
                cursor: pointer;
            }
            .cancel {
                background: darkred;
                color: white;
            }
            .confirm {
                background: darkcyan;
                color: white;
            }
        }
    }
}
.modal-cal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 111;
    .error-modal {
        font-weight: bold;
        color: red;
    }
    .modal-window {
        position: absolute;
        top: 50%;
        left: 50%;
        transition: 0.5s;
        width: 100%;
        max-width: 800px;
        max-height: calc(100% - 30px);
        overflow-x: hidden;
        overflow-y: auto;
        // background: white;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transform: translate(-50%, -50%);
        // padding: 1em;
        color: black;
        text-align: center;
        p {
            background: white;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            span {
                display: block;
                color: gray;
                font-size: 12px;
            }
        }
        .cancel {
            &.close {
                top: 13px;
                position: absolute;
                right: 15px;
                font-size: 16px;
            }
        }
        .box {
            background: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            padding: 10px;
            @include margin-top-p-map($box-padding);
            .top-cnt {
                .comlete-txt {
                    float: right;
                }
                .time-b {
                    margin-right: 10px;
                }
            }
            .specialist {
                padding-bottom: 5px;
                border-bottom: 1px solid #999;
                .check-worker {
                    .usr-name {
                        color: #d99b74;
                        font-weight: 600;
                        padding-top: 10px;
                        font-size: 16px;
                    }
                    .serv-name {
                        text-transform: capitalize;
                    }
                }
                .c-worker-type + .c-worker-type:before {
                    content: ", ";
                }
                .not-check-worker {
                    color: red;
                    font-weight: bold;
                    padding: 20px;
                }
            }
            .selected-serv {
                padding: 10px 0;
                border-bottom: 1px solid #999;
                .s-serv-name {
                    padding-bottom: 5px;
                    text-align: left;
                    .cle {
                        color: red;
                        cursor: pointer;
                        float: right;
                        text-decoration: underline;
                    }
                }
                .client {
                    text-align: left;
                    @include display-p-map($selected-serv-client-display);
                    align-items: center;
                    justify-content: space-between;
                    .client-name {
                        @include width-p-map($client-span-width);
                        @include display-p-map($client-inner-display);
                    }
                    .client-email {
                        @include display-p-map($client-inner-display);
                        @include width-p-map($client-span-width);
                        @include padding-p-map($client-client-email-padding);
                        @include float-p-map($client-client-email-float);
                    }
                }
            }
            .adding-serv {
                padding: 10px 0;
                button {
                    background: none;
                    border: none;
                    text-decoration: underline;
                    &:focus {
                        outline: none;
                        border: none;
                    }
                    &.active {
                        font-weight: bold;
                    }
                }
                .p-btn-c {
                    border: 1px solid black;
                    border-radius: 0;
                    padding: 5px 20px;
                }
                .adding-tlt {
                    text-decoration: underline;
                    margin-bottom: 15px;
                }
                .form-group {
                    text-align: left;
                    font-size: 12px;
                }
                .form-control {
                    font-size: 12px;
                    &:placeholder {
                        font-size: 12px;
                    }
                }
                .form-control[readonly] {
                    background-color: white !important;
                    color: black;
                }
            }
            .add-client {
                text-align: left;
            }
            .search-client {
                position: relative;
                .search-result-client {
                    border: 1px solid lightgray;
                    position: absolute;
                    width: 100%;
                    bottom: 37px;
                    background: whitesmoke;
                    z-index: 1;
                    left: 0;
                    .src-client-box {
                        text-align: left;
                        padding: 5px 10px;
                        cursor: pointer;
                        &:hover {
                            background: #cccccc4d;
                        }
                        &:not(:last-child) {
                            border-bottom: 1px solid lightgray;
                        }
                        .email {
                            font-size: 10px;
                            letter-spacing: 1px;
                            color: #484141;
                            line-height: 8px;
                            position: relative;
                            top: -3px;
                        }
                    }
                }
            }
            .worker-tbl {
                .table {
                    tr {
                        // .w-name {
                        //     color: #d99b74;
                        // }
                        // &.active {
                        //     .w-name {
                        //         color: #74c1d9;
                        //     }
                        //     .w-serv {
                        //         color: #74c1d9;
                        //     }
                        // }
                    }
                    th,
                    td {
                        padding: 5px;
                    }
                    th {
                        border: none;
                    }
                    td {
                        vertical-align: middle;
                        border-color: #999;
                        border-bottom: 1px solid #999;
                        border-right: 1px solid #999;
                        &:last-child {
                            border-right: none;
                        }
                    }
                }
                .booking-b {
                    text-align: right;
                    .booking-btn {
                        background: #d99b74;
                        border: 1px solid #d99b74;
                        padding: 5px 25px;
                        margin: 5px;
                        border-radius: 0;
                        text-transform: uppercase;
                    }
                }
                .container {
                    position: relative;
                    margin-bottom: 15px;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                        &:checked ~ .checkmark {
                            background-color: #fff;
                            &:after {
                                display: block;
                            }
                        }
                    }

                    .checkmark {
                        position: absolute;
                        height: 20px;
                        width: 20px;
                        border: 1px solid #000;
                        &:after {
                            content: "";
                            position: absolute;
                            display: none;
                            left: 7px;
                            top: 3px;
                            width: 5px;
                            height: 10px;
                            border: solid red;
                            border-width: 0 2px 2px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
        .actions {
            display: flex;
            justify-content: flex-end;
            button {
                font-size: inherit;
                margin: 4px;
                border: none;
                padding: 6px 8px;
                cursor: pointer;
            }
            .cancel {
                background: darkred;
                color: white;
            }
            .confirm {
                background: darkcyan;
                color: white;
            }
        }
    }
}
.VueTables__search {
    display: flex !important;
    justify-content: flex-end;
    .VueTables__search-field {
        display: flex;
        label {
            padding-right: 10px;
        }
    }
}
.VueTables__limit-field {
    display: flex;
    label {
        padding-right: 10px;
    }
}
.secondary-menu {
    margin: 10px 0;
    padding: 0;
    height: 30px;
    li {
        list-style: none;
        float: left;

        &:first-child {
            a {
                &:before {
                    content: "";
                    height: 26px;
                    position: absolute;
                    width: 2px;
                    background: black;
                    left: 0;
                    top: 0;
                }
            }
        }
        a {
            padding: 2px 10px;
            position: relative;
            display: block;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            font-size: 14px;
            color: black;
            &:after {
                content: "";
                height: 26px;
                position: absolute;
                width: 2px;
                background: black;
                right: 0;
                top: 0;
            }
            &.router-link-active,
            &:hover {
                background-color: black;
                color: white;
                font-weight: 600;
            }
        }
    }
}

.po-ab-ss {
    position: absolute;
    z-index: 11;
    left: 50px;
    top: 79px;
}
.working-day-tbl {
    td {
        position: relative;
        .text-edit-wk-d {
            user-select: none;
            width: 100%;
            min-height: 24px;
            .plus-wk-d {
                background: #bdb0b047;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                align-items: center;
                justify-content: center;
                color: #251919;
                cursor: pointer;
                font-size: 20px;
                display: none;
            }
            &:hover {
                .plus-wk-d {
                    display: flex;
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .form-sec {
        padding-right: 15px;
        padding-left: 15px;
        &.schedule {
            .cnt-tlt {
                text-align: center;
            }
            .psn-ab-tr-015 {
                position: relative;
                top: 0;
                right: 0;
                margin-top: 10px;
            }
            .po-ab-ss {
                top: 0;
                left: 0;
                position: relative;
            }
            .btn-toolbar {
                justify-content: center;
            }
        }
        &.type {
            span.VueTables__heading {
                font-size: 12px;
            }
            .VueTables {
                .VueTables__sort-icon {
                    position: absolute;
                    font-size: 12px;
                    top: 16px;
                    right: 9px;
                }
            }
        }
    }
    .admin-header {
        height: 70px;
        .usr-pro {
            right: 15px;
            .ad-name {
                font-size: 12px;
            }
            .admin-img {
                width: 35px;
                height: 35px;
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .VueTables__search {
        .VueTables__search-field {
            display: initial;
            label {
                width: 100%;
                justify-content: flex-start !important;
                text-align: left;
            }
        }
    }
    .VueTables__limit-field {
        display: initial;
    }
    #VueTables__limit_gZF3G {
        width: 80px;
    }
    .po-ab-ss {
        top: 150px;
    }
}

@media screen and (max-width: 550px) {
}
