<template>
  <div>
    <div class="btn-toolbar wk-fr-group" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary btn-ctm-pry" @click="dateID(-7)">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button type="button" class="btn btn-primary btn-ctm-pry" @click="today">Today</button>
        <!-- <vc-date-picker v-model="sdate" :popover="{visibility: 'click'}"> -->
        <button type="button" class="btn btn-primary wk-fr-btn m-l-0">{{selectedWeek}}</button>
        <!-- </vc-date-picker> -->
        <button type="button" class="btn btn-primary btn-ctm-pry" @click="dateID(7)">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      sdate: null,
      selectedWeek: null
    };
  },
  methods: {
    changedDate() {
      // console.log(this.sdate);
      let date = this.$moment(this.sdate).add(7, "days");

      let weekStart = date
        .clone()
        .startOf("isoWeek")
        .isoWeekday(1);

      let WeekEnd = this.$moment(weekStart).add(6, "days");
      this.selectedWeek = weekStart.format("DD MMM");
      if (weekStart.format("YYYY") != WeekEnd.format("YYYY")) {
        this.selectedWeek += ", " + weekStart.format("YYYY");
      }
      this.selectedWeek +=
        " - " + WeekEnd.format("DD MMM") + ", " + WeekEnd.format("YYYY");
      let dates = {};
      dates.days = [];
      dates.year = [];

      for (let i = 0; i <= 6; i++) {
        dates.days.push(
          this.$moment(weekStart)
            .add(i, "days")
            .format("ddd DD MMM")
        );
        dates.year.push(
          this.$moment(weekStart)
            .add(i, "days")
            .format("YYYY")
        );
      }

      this.$emit("pickPicker", dates);
    },
    dateID(icdc) {
      this.sdate = new Date(this.sdate.setDate(this.sdate.getDate() + icdc));
    },
    today() {
      this.sdate = new Date();
    }
  },
  created() {
    this.sdate = new Date();
  },
  mounted() {},
  watch: {
    sdate: function() {
      this.changedDate();
    }
  }
};
</script>

<style></style>
