@mixin transform($v, $d1, $d2: null) {
    @if $v == translateX {
        @include translateX($d1);
    } @else if $v == rotate {
        @include rotate($d1);
    } @else if $v == translateY {
        @include translateY($d1);
    } @else if $v == translate {
        @include translate($d1, $d2);
    }
}
@mixin translate($v1, $v2) {
    transform: translate($v1, $v2);
    -webkit-transform: translate($v1, $v2);
}
@mixin translateX($v1) {
    transform: translateX($v1);
    -webkit-transform: translateX($v1);
}
@mixin translateY($v1) {
    transform: translateY($v1);
    -webkit-transform: translateY($v1);
}
@mixin rotate($v1) {
    transform: rotate($v1);
    -webkit-transform: rotate($v1);
}
@mixin transition-duration($v1) {
    -webkit-transition-duration: $v1;
    transition-duration: $v1;
}
@mixin dimension($h: null, $w: null) {
    @if $h != null {
        height: $h;
    }
    @if $w != null {
        width: $w;
    }
}
@mixin dimensionMax($h: null, $w: null) {
    @if $h != null {
        max-height: $h;
    }
    @if $w != null {
        max-width: $w;
    }
}
@mixin dimensionMin($h: null, $w: null) {
    @if $h != null {
        min-height: $h;
    }
    @if $w != null {
        min-width: $w;
    }
}
@mixin directionPos($t: null, $r: null, $b: null, $l: null) {
    @if $t != null {
        top: $t;
    }
    @if $r != null {
        right: $r;
    }
    @if $b != null {
        bottom: $b;
    }
    @if $l != null {
        left: $l;
    }
}

// breakpoint mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
    @if $mq2 == false {
        @media ($maxmin: $mq01) {
            @content;
        }
    } @else {
        @media (min-width: $mq01) and (max-width: $mq2) {
            @content;
        }
    }
} // breakpoint-h mixin
@mixin breakpoint-h($mq01: 0, $mq2: false, $maxmin: max-height) {
    @if $mq2 == false {
        @media ($maxmin: $mq01) {
            @content;
        }
    } @else {
        @media (min-height: $mq01) and (max-height: $mq2) {
            @content;
        }
    }
}

// responsive font size mixin
@mixin font-size-map($font-size-map) {
    @each $breakpoint, $font-size in $font-size-map {
        @if $breakpoint == null {
            font-size: $font-size;
        } @else {
            @include breakpoint($breakpoint) {
                font-size: $font-size;
            }
        }
    }
}
// responsive width mixin
@mixin width-p-map($width-p-map) {
    @each $breakpoint, $width-p in $width-p-map {
        @if $breakpoint == null {
            width: $width-p;
        } @else {
            @include breakpoint($breakpoint) {
                width: $width-p;
            }
        }
    }
}
// responsive height mixin
@mixin height-p-map($height-p-map) {
    @each $breakpoint, $height-p in $height-p-map {
        @if $breakpoint == null {
            height: $height-p;
        } @else {
            @include breakpoint($breakpoint) {
                height: $height-p;
            }
        }
    }
}
// responsive top mixin
@mixin top-p-map($top-p-map) {
    @each $breakpoint, $top-p in $top-p-map {
        @if $breakpoint == null {
            top: $top-p;
        } @else {
            @include breakpoint($breakpoint) {
                top: $top-p;
            }
        }
    }
}
// responsive right mixin
@mixin right-p-map($right-p-map) {
    @each $breakpoint, $right-p in $right-p-map {
        @if $breakpoint == null {
            right: $right-p;
        } @else {
            @include breakpoint($breakpoint) {
                right: $right-p;
            }
        }
    }
}
// responsive bottom mixin
@mixin bottom-p-map($bottom-p-map) {
    @each $breakpoint, $bottom-p in $bottom-p-map {
        @if $breakpoint == null {
            bottom: $bottom-p;
        } @else {
            @include breakpoint($breakpoint) {
                bottom: $bottom-p;
            }
        }
    }
}
// responsive left mixin
@mixin left-p-map($left-p-map) {
    @each $breakpoint, $left-p in $left-p-map {
        @if $breakpoint == null {
            left: $left-p;
        } @else {
            @include breakpoint($breakpoint) {
                left: $left-p;
            }
        }
    }
}
// responsive transform: translate() mixin
@mixin transform-translate-p-map($transform-translate-p-map) {
    @each $breakpoint, $transform-translate-p in $transform-translate-p-map {
        @if $breakpoint == null {
            transform: translate($transform-translate-p);
        } @else {
            @include breakpoint($breakpoint) {
                transform: translate($transform-translate-p);
            }
        }
    }
}
// responsive line-height mixin
@mixin line-height-p-map($line-height-p-map) {
    @each $breakpoint, $line-height-p in $line-height-p-map {
        @if $breakpoint == null {
            line-height: $line-height-p;
        } @else {
            @include breakpoint($breakpoint) {
                line-height: $line-height-p;
            }
        }
    }
}
// responsive padding mixin
@mixin padding-p-map($padding-p-map) {
    @each $breakpoint, $padding-p in $padding-p-map {
        @if $breakpoint == null {
            padding: $padding-p;
        } @else {
            @include breakpoint($breakpoint) {
                padding: $padding-p;
            }
        }
    }
}
// responsive font-size mixin
@mixin font-size-p-map($font-size-p-map) {
    @each $breakpoint, $font-size-p in $font-size-p-map {
        @if $breakpoint == null {
            font-size: $font-size-p;
        } @else {
            @include breakpoint($breakpoint) {
                font-size: $font-size-p;
            }
        }
    }
}
// responsive margin-top mixin for height
@mixin margin-top-p-map-h($margin-top-p-map) {
    @each $breakpoint, $margin-top-p in $margin-top-p-map {
        @if $breakpoint == null {
            margin-top: $margin-top-p;
        } @else {
            @include breakpoint-h($breakpoint) {
                margin-top: $margin-top-p;
            }
        }
    }
}
// responsive margin-top mixin
@mixin margin-top-p-map($margin-top-p-map) {
    @each $breakpoint, $margin-top-p in $margin-top-p-map {
        @if $breakpoint == null {
            margin-top: $margin-top-p;
        } @else {
            @include breakpoint($breakpoint) {
                margin-top: $margin-top-p;
            }
        }
    }
}
// responsive margin mixin for height
@mixin margin-p-map-h($margin-p-map) {
    @each $breakpoint, $margin-p in $margin-p-map {
        @if $breakpoint == null {
            margin: $margin-p;
        } @else {
            @include breakpoint-h($breakpoint) {
                margin: $margin-p;
            }
        }
    }
}
@mixin display-p-map($display-p-map) {
    @each $breakpoint, $display-p in $display-p-map {
        @if $breakpoint == null {
            display: $display-p;
        } @else {
            @include breakpoint($breakpoint) {
                display: $display-p;
            }
        }
    }
}
@mixin float-p-map($float-p-map) {
    @each $breakpoint, $float-p in $float-p-map {
        @if $breakpoint == null {
            float: $float-p;
        } @else {
            @include breakpoint($breakpoint) {
                float: $float-p;
            }
        }
    }
}

//float
$client-client-email-float: (
    null: right,
    800px: initial
);

//display
$selected-serv-client-display: (
    null: flex,
    800px: block
);
$client-inner-display: (
    null: initial,
    800px: block
);
// font sizes

// height
// $left-box-height: (null: 100%);

// widht
$client-span-width: (
    null: auto,
    800px: 100%
);

// top
// $home-cnt-area-inr-box-top: (null: 65px);

// right
// $home-cnt-area-inr-box-right: (600px: 0);

// bottom

// left
// $home-cnt-area-inr-box-left: (null: 50px, 600px: 0);

// transform: translate()

// line-height

// margin-top
$box-padding: (
    null: 0,
    576px: 10px
);

// padding
$client-client-email-padding: (
    null: 0 0 0 10px,
    800px: 0
);

// font-size
// $first-cnt-area-content-area-font-size: (null: 30px);
