<template>
  <div>
    <div class="row type-add d-none d-md-flex">
      <div class="col-6">
        <span>Types</span>
      </div>
      <div class="col-6">
        <div @click="isAddTypeModal = true" class="edit-info-btn btn-ctm sty-black" v-if="own">
          <i title="edit image" class="fa fa-plus"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-0">
        <div class="service-purchase-add-all" v-if="typeData">
          <div class="service-purchase-add" v-for="(type, i) in typeData" :key="i">
            <div class="service-purchase-l">
              <div class="service-m-img">
                <img :src="'/assets/img/services/type/' + type.img" alt="img" />
              </div>
              <div class="service-m-info">
                <div class="ser-n-s">
                  <div class="ser-n">
                    {{ type.name }}
                    <span class="cv-r"></span>
                    <!-- 27-06 -->
                    <span class="dis-pr m-perc float-right d-inline-block d-md-none">
                      <span class="per m-0">20%</span>
                    </span>
                  </div>
                  <div class="ser-d">
                    <span class>
                      <img src="/assets/img/services/star.png" alt="img" /> 4.5/5 (5)
                    </span>
                    <span class="fa-ch">
                      <i class="fas fa-check-circle"></i> Laisvo laiko
                    </span>
                    <span class>
                      <i class="far fa-clock"></i>
                      {{ timeCalculation(type.time) }}
                    </span>
                    <span class="m-price float-sm-right float-none d-inline-block d-md-none">nuo {{ type.price }} €</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="service-purchase-r">
              <!-- 27-06 -->
              <div class="ser-prc-per">
                <span class="dis-pr active d-none d-md-inline-block">
                  <span class="per m-0">20%</span>
                  <span class="price m-0">nuo {{ type.price }} €</span>
                </span>
                <span class="ud-i d-none d-md-inline-block">
                  <img src="/assets/img/services/up-d-i.png" alt="img" />
                </span>
                <span class="n-p">
                  <button class="btn dr-btn1" @click="calBookOpen(type, i, 0)">
                    <i class="fas fa-bookmark"></i> PRISIMINTI
                  </button>
                </span>
                <span class="n-p">
                  <button class="btn dr-btn2" @click="calBookOpen(type, i, 1)">
                    <i class="fas fa-plus"></i> REZERVUOTI
                  </button>
                </span>

                <div class="customize" v-if="own">
                  <button class="btn btn-danger" @click="deleteTypeModalOpen(type, i)">
                    <i title="edit image" class="fa fa-trash"></i>
                  </button>
                  <button class="btn btn-info" @click="editTypeModalOpen(type.id, i)">
                    <i title="edit image" class="fa fa-edit"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <transition name="appear">
      <AddTypeModal
      :serviceId="$s_id"
      v-if="isAddTypeModal"
      @addType="addType"
      @cancel="cancelAddTypeModal"
      />
    </transition>
    <transition name="appear">
      <EditTypeModal
      :serviceId="$s_id"
      :typeId="type_id"
      v-if="isEditTypeModal"
      @editType="editType($event)"
      @cancel="cancelEditTypeModal"
      />
    </transition>
    <transition name="appear">
      <CalVieweModal
      :calStep="calStep"
      :type_id="type_id"
      :type="type_data"
      :tap="tap"
      v-if="isCalVieweModal"
      @cancel="cancelCalVieweModal"
      />
    </transition>
    <transition name="appear">
      <ConfirmDeleteModal
      :data="type_id"
      v-if="isDeleteTypeModal"
      @confirm="deleteType($event)"
      @cancel="cancelDeleteTypeModal"
      />
    </transition>
  </div>
</template>

<script>
  import SingleSrcSelect from "./selectOption/SingleSrcSelect.vue";
  import AddTypeModal from "./modal/AddTypeModal.vue";
  import EditTypeModal from "./modal/EditTypeModal.vue";
  import CalVieweModal from "./modal/CalVieweModal.vue";
  import ConfirmDeleteModal from "./modal/ConfirmDeleteModal.vue";
  export default {
    props: ["own"],
    components: {
      SingleSrcSelect,
      AddTypeModal,
      EditTypeModal,
      ConfirmDeleteModal,
      CalVieweModal
    },
    data() {
      return {
        typeData: null,
        type_id: 0,
        type_data: null,
        calStep: 60,
        isAddTypeModal: false,
        isEditTypeModal: false,
        isDeleteTypeModal: false,
        isCalVieweModal: false,
        tap: null
      };
    },
    methods: {
      deleteTypeModalOpen(type_id, i) {
        this.isDeleteTypeModal = true;
        this.type_id = type_id;
      },
      async deleteType(data) {
        this.isDeleteTypeModal = false;

        let deleteTypeUrl =
        this.$base_url + "/api/services/" + this.$s_id + "/types/" + data.id;
        let deleteTypeD = await this.$getData("delete", deleteTypeUrl);
        this.getType();
      },
      cancelDeleteTypeModal() {
        this.isDeleteTypeModal = false;
      },
      editTypeModalOpen(type_id, i) {
        this.isEditTypeModal = true;
        this.type_id = type_id;
      },
      editType(d) {
        this.isEditTypeModal = false;
        this.getType();
      },
      cancelEditTypeModal() {
        this.isEditTypeModal = false;
      },
      calBookOpen(type, i, tap) {
        this.tap = tap;
        this.calStep = this.typeData[i].time;
        this.type_id = type.id;
        this.type_data = type;
        this.isCalVieweModal = true;
      },
      documentClick(e) {
        this.$emit("documentC", e);
      },
      hideOption(d) {
        this.$emit("updateTroggleOption", d);
      },
      cancelAddTypeModal() {
        this.isAddTypeModal = false;
      },
      cancelCalVieweModal() {
        this.isCalVieweModal = false;
      },
      async addType() {
        this.isAddTypeModal = false;
        this.getType();
      },
      async getType() {
        let getTypesUrl =
        this.$base_url + "/api/services/" + this.$s_id + "/types";

        let types = await this.$getData("get", getTypesUrl);

        this.typeData = types.data;
        if (types.success) {
          this.type_id = this.typeData[0].id;
          this.calStep = this.typeData[0].time;
        } else {
        // this.$toast.error(types.message, {
        //   duration: 5000,
        //   dismissible: true
        // });
      }
    },
    timeCalculation(t) {
      let hour = Math.floor(t / 60);
      let minute = t % 60;
      let time = "";
      if (hour > 0) {
        time += hour + " Hour ";
      }
      if (minute > 0) {
        time += minute + " Minute";
      }
      return time;
    }
  },
  created() {
    axios.defaults.headers.common = {
      Accept: "application/json",
      "Content-Type": "application/json;charset=UTF-8"
      // Authorization: "Bearer " + this.api_token
    };
    axios.interceptors.response.use(
      response => {
        return response;
      },
      error => {
        if (error.response) {
          return error.response;
        }
      }
      );
    window.addEventListener("click", this.documentClick);
  },
  async mounted() {
    this.getType();
    // console.log(this.own);
  }
};
</script>

<style>
.vuecal__event-time {
  display: none;
}
.vuecal__weekdays-headings {
  background: #2e2e2e !important;
  border-radius: 10px 10px 0 0;
}
.vuecal__flex.vuecal__body {
  filter: drop-shadow(3px 0px 1.5px rgba(0, 0, 0, 0.1));
  background-color: #252525 !important;
  padding: 25px;
}
.vuecal__time-column .vuecal__time-cell {
  color: white !important;
}
.vuecal__event {
  background: none !important;
}
.vuecal__cell--current,
.vuecal__cell--today {
  background-color: rgba(240, 240, 255, 0.2) !important;
}
.vuecal--view-with-time .vuecal__weekdays-headings {
  padding: 0 25px 0 70px !important;
}
.vuecal__time-column .vuecal__time-cell .line:before {
  border: none !important;
}
.vuecal__time-column .vuecal__time-cell:nth-child(odd) .line:before {
  background: #222 !important;
  height: 40px;
}
.vuecal__time-column .vuecal__time-cell:nth-child(even) .line:before {
  background: #252525 !important;
  height: 40px;
}
.vuecal__time-column .vuecal__time-cell .label {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apointment-area .vuecal__time-column {
  border: none !important;
}
.vuecal__cell:before {
  border: none !important;
}
.vuecal__bg {
  background: rgba(0, 0, 0, 0.4);
  padding: 1px;
}
.vuecal__menu {
  justify-content: left !important;
}
.vuecal__view-btn {
  border-radius: 5px;
  background-image: linear-gradient(0deg, #323232 0%, #4c4c4c 100%);
  height: 30px;
  font-size: 15px;
  margin-right: 15px;
}
.vuecal__view-btn--active {
  background-image: linear-gradient(0deg, #e67839 0%, #ff8f4c 100%);
  border: none;
}
.vuecal__body {
  overflow: initial;
}
</style>
