<template>
  <div>
    <div class="modal-vue cal-m" id="abt-modal">
      <div class="modal-window">
        <button class="cancel close" @click="onCancel">
          <i class="fas fa-times"></i>
        </button>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <button
                class="btn btn-cal"
                :class="{'active': !isActive}"
                @click="description"
              >Description</button>
            </div>
            <div class="col-6">
              <button
                class="btn btn-cal"
                :class="{'active': isActive}"
                @click="calendar"
                v-if="isCalendar"
              >Calendar</button>
              <button
                class="btn btn-cal"
                :class="{'active': isActive}"
                @click="calendar"
                v-else
              >Contact</button>
            </div>
          </div>
          <div class="row" v-show="!isActive">
            <div class="col-12 col-sm-12">
              <span v-html="type.description" class="tp-description"></span>
            </div>
          </div>
          <div class="row" v-show="isActive">
            <div class="col-12 col-sm-12" v-if="isCalendar">
              <div class="cal-view-cnt">
                <div class="form">
                  <div class="row">
                    <div class="col-12">
                      <div class="apointment-srl-are">
                        <vue-cal
                          :time-from="time_form"
                          :time-to="time_to"
                          :time-step="calStep"
                          :disable-views="['years', 'year']"
                          :events="data.event"
                          :on-event-click="onEventClick"
                          class="vue-cal-ctm"
                          @ready="logEvents('ready', $event)"
                          @view-change="logEvents('view-change', $event)"
                          @event-create="logEvents('event-create', $event)"
                          v-if="type_id"
                        ></vue-cal>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12" v-else>
              <div class="row">
                <div class="col-12 col-sm-6">
                  <div class="info-u">
                    <i class="fas fa-user"></i>
                    <span>{{$user.name}} {{$user.surname}}</span>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="info-u">
                    <i class="far fa-envelope"></i>
                    <span>{{$user.email}}</span>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="info-u">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>{{$user.address}}</span>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="info-u">
                    <i class="fas fa-phone-volume"></i>
                    <span>{{$user.phone}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <transition name="appear">
      <CalendarModal
        v-if="isCalendarModal"
        :calendarModelD="calendarModelD"
        @booking="booking($event)"
        @cancel="cancelBooking"
      />
    </transition>
  </div>
</template>

<script>
import CalendarModal from "./CalendarModal.vue";
export default {
  props: ["type_id", "calStep", "type", "tap"],
  components: {
    CalendarModal
  },
  data() {
    return {
      data: [],
      isCalendarModal: false,
      calendarModelD: {},
      time_form: 0,
      time_to: 1440,
      isActive: true
    };
  },
  methods: {
    description() {
      this.isActive = false;
    },
    calendar() {
      this.isActive = true;
    },
    onCancel() {
      this.$emit("cancel");
    },
    async logEvents($e, $data) {
      let start_date = $data.startDate;
      let end_date = $data.endDate;
      let start =
        start_date.getFullYear() +
        "-" +
        (start_date.getMonth() + 1) +
        "-" +
        start_date.getDate();
      let end =
        end_date.getFullYear() +
        "-" +
        (end_date.getMonth() + 1) +
        "-" +
        end_date.getDate();
      let getTypeWorkersUrl =
        this.$base_url +
        "/api/services/" +
        this.$s_id +
        "/types/" +
        this.type_id +
        "/getworkers?start_date=" +
        start +
        "&end_date=" +
        end;
      let typeWorkers = await this.$getData("get", getTypeWorkersUrl);
      this.data = typeWorkers.data;
      this.data.event.map((e, i) => {
        if (e.title.match(/wkr-status-free/gim)) {
          e.count = e.title.match(/wkr-status-free/gim).length;
        } else {
          e.count = 0;
        }
        if (e.count > 0) {
          e.title = "<span class='wkr-status-free'>LAISVA</span>";
        } else {
          e.title = "<span class='wkr-status-busy'>UŽIMTA</span>";
        }
      });
      if (this.data.start_time == null && this.data.start_time == "") {
        this.time_form = 0 * 60;
      } else {
        this.time_form = this.data.start_time;
      }
      if (this.data.end_time == null || this.data.end_time == "") {
        this.time_to = 24 * 60;
      } else {
        this.time_to = this.data.end_time + 30;
      }
    },
    onEventClick(event, e) {
      this.calendarModelD.id = this.data.id;
      this.calendarModelD.name = this.data.name;
      this.calendarModelD.price = this.data.price;
      this.calendarModelD.time = this.data.time;
      this.calendarModelD.event = event;
      this.isCalendarModal = true;
      //   console.log(this.data);

      // Prevent navigating to narrower view (default vue-cal behavior).
      e.stopPropagation();
    },
    booking(input) {
      this.isCalendarModal = false;
      this.data.event.map((e, i) => {
        if (e.start == input.start) {
          e.workers.map((w, j) => {
            if (w.id == input.worker.id) {
              // let title = e.title.split("</span>");
              // title[j] =
              //   "<span class='wkr-status-busy'>" +
              //   w.name.slice(0, 2).toUpperCase() +
              //   ". ";
              w.class = "wkr-status-busy";
              e.workers[j] = w;
              // e.title = title.join("</span>");
              this.data.event[i] = e;
            }
          });
          e.count = e.count - 1;
          if (e.count == 0) {
            e.title = "<span class='wkr-status-busy'>UŽIMTA</span>";
          }
        }
      });
    },
    cancelBooking() {
      this.isCalendarModal = false;
    }
  },
  created() {},
  async mounted() {
    if (this.tap) {
      this.isActive = true;
    } else {
      this.isActive = false;
    }
  },
  computed: {
    isCalendar() {
      if (this.$service.user.user_setting) {
        if (this.$service.user.user_setting.is_calendar != 1) {
          return true;
        } else {
          return false;
        }
      } else {
        return false;
      }
    }
  }
};
</script>

<style scoped>
.btn-cal {
  border-radius: 5px;
  background-image: linear-gradient(0deg, #323232 0%, #4c4c4c 100%);
  color: white;
  width: 100%;
  margin: 15px 0;
}
.btn-cal.active {
  background-image: linear-gradient(0deg, #e67839 0%, #ff8f4c 100%);
}
.btn-cal:focus {
  outline: none;
  box-shadow: none;
}
.modal-body .info-u {
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.modal-body i {
  color: #e67839;
  font-size: 25px;
  padding-right: 10px;
}
</style>
