<template>
  <div class="modal-vue" id="abt-modal">
    <div class="modal-window">
      <button class="cancel close" @click="onCancel">
        <i class="fas fa-times"></i>
      </button>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-sm-12">
            <div class="cal-view-cnt">
              <div class="form">
                <form @submit.prevent="editType">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Services:</label>
                        <input
                          v-model="service_title"
                          type="text"
                          name="service_id"
                          class="form-control"
                          readonly
                        />
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Name:</label>
                        <input v-model="name" type="text" name="name" class="form-control" />
                      </div>
                      <div v-if="error.is.name" class="text-danger m-t-m-10">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {{ error.msg.name }}
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                      <div class="form-group">
                        <label>Price:</label>
                        <div class="input-group ctm-input-group">
                          <span>&euro;</span>
                          <input
                            v-model="price"
                            type="number"
                            name="price"
                            class="form-control"
                            step="any"
                          />
                        </div>
                      </div>
                      <div v-if="error.is.price" class="text-danger m-t-m-10">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {{ error.msg.price }}
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                      <div class="form-group">
                        <label>Discount Price:</label>
                        <div class="input-group ctm-input-group">
                          <span>&euro;</span>
                          <input
                            v-model="discount_price"
                            type="number"
                            name="discount_price"
                            class="form-control"
                            step="any"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <SingleSrcSelect
                        :sBox="duration.sBox"
                        @hideOption="hideOption"
                        :label="duration.label"
                        :selected="duration.selected"
                        :items="duration.items"
                        :disabled="false"
                        @setSelectedVal="
                                                    setSelectedVal($event)
                                                "
                      />
                      <div v-if="error.is.time" class="text-danger m-t-m-10">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {{ error.msg.time }}
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <SingleSrcSelect
                        :sBox="startTime.sBox"
                        @hideOption="hideOption"
                        :label="startTime.label"
                        :selected="startTime.selected"
                        :items="startTime.items"
                        :disabled="false"
                        @setSelectedVal="
                                                    setSelectedVal($event)
                                                "
                      />
                    </div>
                    <div class="col-12 col-sm-6">
                      <SingleSrcSelect
                        :sBox="endTime.sBox"
                        @hideOption="hideOption"
                        :label="endTime.label"
                        :selected="endTime.selected"
                        :items="endTime.items"
                        :disabled="false"
                        @setSelectedVal="
                                                    setSelectedVal($event)
                                                "
                      />
                    </div>
                    <div class="col-12">
                      <vue-editor v-model="description"></vue-editor>
                    </div>
                    <div class="col-12 col-sm-6">
                      <input type="file" class="d-none" @change="previewImg" ref="typeImg" />
                      <button class="btn ctm-btn" type="button" @click="$refs.typeImg.click()">Image</button>
                    </div>
                    <div class="col-12 col-sm-6">
                      <img :src="imgPreview" alt="img" class="type-img" v-if="imgPreview.length" />
                    </div>
                    <div class="col-12">
                      <button class="btn ctm-btn float-right" type="submit">Update</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SingleSrcSelect from "./../selectOption/SingleSrcSelect.vue";
import { VueEditor, Quill } from "vue2-editor";
export default {
  props: ["serviceId", "typeId"],
  components: {
    SingleSrcSelect,
    VueEditor
  },
  data() {
    return {
      services: {
        sBox: "addTypeServices",
        label: "Services",
        selected: {
          value: "Select Service"
        },
        items: []
      },
      duration: {
        sBox: "addTypeDuration",
        label: "Duration",
        selected: {
          value: "Select Duration"
        },
        items: [
          {
            key: 30,
            value: "30min"
          },
          {
            key: 60,
            value: "1h"
          },
          {
            key: 90,
            value: "1h 30min"
          },
          {
            key: 120,
            value: "2h"
          },
          {
            key: 150,
            value: "2h 30min"
          },
          {
            key: 180,
            value: "3h"
          },
          {
            key: 210,
            value: "3h 30min"
          },
          {
            key: 240,
            value: "4h"
          },
          {
            key: 270,
            value: "4h 30min"
          },
          {
            key: 300,
            value: "5h"
          },
          {
            key: 330,
            value: "5h 30min"
          },
          {
            key: 360,
            value: "6h"
          },
          {
            key: 390,
            value: "6h 30min"
          },
          {
            key: 420,
            value: "7h"
          },
          {
            key: 450,
            value: "7h 30min"
          },
          {
            key: 480,
            value: "8h"
          },
          {
            key: 540,
            value: "9h"
          },
          {
            key: 600,
            value: "10h"
          },
          {
            key: 660,
            value: "11h"
          },
          {
            key: 720,
            value: "12h"
          }
        ]
      },
      startTime: {
        sBox: "addTypeStartTime",
        label: "Start Time",
        selected: {
          value: "Select Start Time"
        },
        items: [
          {
            key: 0,
            value: "00:00"
          },
          {
            key: 30,
            value: "00:30"
          },
          {
            key: 60,
            value: "01:00"
          },
          {
            key: 90,
            value: "01:30"
          },
          {
            key: 120,
            value: "02:00"
          },
          {
            key: 150,
            value: "02:30"
          },
          {
            key: 180,
            value: "03:00"
          },
          {
            key: 210,
            value: "03:30"
          },
          {
            key: 240,
            value: "04:00"
          },
          {
            key: 270,
            value: "04:30"
          },
          {
            key: 300,
            value: "05:00"
          },
          {
            key: 330,
            value: "05:30"
          },
          {
            key: 360,
            value: "06:00"
          },
          {
            key: 390,
            value: "06:30"
          },
          {
            key: 420,
            value: "07:00"
          },
          {
            key: 450,
            value: "07:30"
          },
          {
            key: 480,
            value: "08:00"
          },
          {
            key: 510,
            value: "08:30"
          },
          {
            key: 540,
            value: "09:00"
          },
          {
            key: 570,
            value: "09:30"
          },
          {
            key: 600,
            value: "10:00"
          },
          {
            key: 630,
            value: "10:30"
          },
          {
            key: 660,
            value: "11:00"
          },
          {
            key: 690,
            value: "11:30"
          },
          {
            key: 720,
            value: "12:00"
          },
          {
            key: 750,
            value: "12:30"
          },
          {
            key: 780,
            value: "13:00"
          },
          {
            key: 810,
            value: "13:30"
          },
          {
            key: 840,
            value: "14:00"
          },
          {
            key: 870,
            value: "14:30"
          },
          {
            key: 900,
            value: "15:00"
          },
          {
            key: 930,
            value: "15:30"
          },
          {
            key: 960,
            value: "16:00"
          },
          {
            key: 990,
            value: "16:30"
          },
          {
            key: 1020,
            value: "17:00"
          },
          {
            key: 1050,
            value: "17:30"
          },
          {
            key: 1080,
            value: "18:00"
          },
          {
            key: 1110,
            value: "18:30"
          },
          {
            key: 1140,
            value: "19:00"
          },
          {
            key: 1170,
            value: "19:30"
          },
          {
            key: 1200,
            value: "20:00"
          },
          {
            key: 1230,
            value: "20:30"
          },
          {
            key: 1260,
            value: "21:00"
          },
          {
            key: 1290,
            value: "21:30"
          },
          {
            key: 1320,
            value: "22:00"
          },
          {
            key: 1350,
            value: "22:30"
          },
          {
            key: 1380,
            value: "23:00"
          },
          {
            key: 1410,
            value: "23:30"
          }
        ]
      },
      endTime: {
        sBox: "addTypeEndTime",
        label: "End Time",
        selected: {
          value: "Select End Time"
        },
        items: [
          {
            key: 0,
            value: "00:00"
          },
          {
            key: 30,
            value: "00:30"
          },
          {
            key: 60,
            value: "01:00"
          },
          {
            key: 90,
            value: "01:30"
          },
          {
            key: 120,
            value: "02:00"
          },
          {
            key: 150,
            value: "02:30"
          },
          {
            key: 180,
            value: "03:00"
          },
          {
            key: 210,
            value: "03:30"
          },
          {
            key: 240,
            value: "04:00"
          },
          {
            key: 270,
            value: "04:30"
          },
          {
            key: 300,
            value: "05:00"
          },
          {
            key: 330,
            value: "05:30"
          },
          {
            key: 360,
            value: "06:00"
          },
          {
            key: 390,
            value: "06:30"
          },
          {
            key: 420,
            value: "07:00"
          },
          {
            key: 450,
            value: "07:30"
          },
          {
            key: 480,
            value: "08:00"
          },
          {
            key: 510,
            value: "08:30"
          },
          {
            key: 540,
            value: "09:00"
          },
          {
            key: 570,
            value: "09:30"
          },
          {
            key: 600,
            value: "10:00"
          },
          {
            key: 630,
            value: "10:30"
          },
          {
            key: 660,
            value: "11:00"
          },
          {
            key: 690,
            value: "11:30"
          },
          {
            key: 720,
            value: "12:00"
          },
          {
            key: 750,
            value: "12:30"
          },
          {
            key: 780,
            value: "13:00"
          },
          {
            key: 810,
            value: "13:30"
          },
          {
            key: 840,
            value: "14:00"
          },
          {
            key: 870,
            value: "14:30"
          },
          {
            key: 900,
            value: "15:00"
          },
          {
            key: 930,
            value: "15:30"
          },
          {
            key: 960,
            value: "16:00"
          },
          {
            key: 990,
            value: "16:30"
          },
          {
            key: 1020,
            value: "17:00"
          },
          {
            key: 1050,
            value: "17:30"
          },
          {
            key: 1080,
            value: "18:00"
          },
          {
            key: 1110,
            value: "18:30"
          },
          {
            key: 1140,
            value: "19:00"
          },
          {
            key: 1170,
            value: "19:30"
          },
          {
            key: 1200,
            value: "20:00"
          },
          {
            key: 1230,
            value: "20:30"
          },
          {
            key: 1260,
            value: "21:00"
          },
          {
            key: 1290,
            value: "21:30"
          },
          {
            key: 1320,
            value: "22:00"
          },
          {
            key: 1350,
            value: "22:30"
          },
          {
            key: 1380,
            value: "23:00"
          },
          {
            key: 1410,
            value: "23:30"
          }
        ]
      },
      service_id: "",
      service_title: "",
      name: "",
      price: "",
      discount_price: "",
      time: "",
      start_time: "",
      end_time: "",
      description: "",
      reRenderServices: true,
      error: {
        is: {
          service_id: false,
          name: false,
          price: false,
          time: false
        },
        msg: {
          service_id: "Please select service.",
          name: "",
          price: "",
          time: ""
        }
      },
      imgPreview: "",
      imageP: ""
    };
  },
  methods: {
    onCancel() {
      this.$emit("cancel");
    },
    setSelectedVal(d) {
      if (d.key == "addTypeServices") this.service_id = d.value;
      else if (d.key == "addTypeDuration") this.time = d.value;
      else if (d.key == "addTypeStartTime") this.start_time = d.value;
      else if (d.key == "addTypeEndTime") this.end_time = d.value;
    },
    async editType() {
      const data = new FormData();
      data.append("name", this.name);
      data.append("price", this.price);
      data.append("discount_price", this.discount_price);
      data.append("time", this.time);
      data.append("start_time", this.start_time);
      data.append("end_time", this.end_time);
      data.append("description", this.description);
      if (this.imageP.length) {
        data.append("image", this.imageP, this.imageP.name);
      } else {
        data.append("image", this.imageP);
      }
      data.append("_method", "put");
      let updateServicesTypeUrl =
        this.$base_url +
        "/api/services/" +
        this.service_id +
        "/types/" +
        this.typeId +
        "/updatetype";
      if (this.service_id != "") {
        this.error.is.service_id = false;
        this.error.is.name = false;
        this.error.is.price = false;
        this.error.is.time = false;
        let errors = {};
        let response = await this.$getData("post", updateServicesTypeUrl, data);
        // console.log(response);
        if (!response.success && response.message == "Validation Error.") {
          for (const key of Object.keys(response.data)) {
            errors[key] = response.data[key];
          }
          if (errors.name) {
            this.error.is.name = true;
            this.error.msg.name = errors.name[0];
          }
          if (errors.price) {
            this.error.is.price = true;
            this.error.msg.price = errors.price[0];
          }
          if (errors.time) {
            this.error.is.time = true;
            this.error.msg.time = errors.time[0];
          }
        } else if (
          !response.success &&
          response.message == "Must need to change any value to update"
        ) {
          errors["msg"] = response.message;
          this.$toast.error(response.message, {
            duration: 5000,
            dismissible: true
          });
        }

        if (Object.keys(errors).length == 0) {
          this.$toast.success(response.message, {
            duration: 5000,
            dismissible: true
          });

          this.$emit("editType", response.data);
        }
      } else this.error.is.service_id = true;
    },
    hideOption(d) {
      this.$emit("updateTroggleOption", d);
    },
    reRenderServicesI() {
      this.reRenderServices = false;
      this.$nextTick(() => {
        this.reRenderServices = true;
      });
    },
    previewImg(e) {
      let render,
        files = e.target.files;
      render = new FileReader();
      render.onload = e => {
        this.imgPreview = e.target.result;
      };
      render.readAsDataURL(files[0]);
      this.imageP = files[0];
    }
  },
  created() {},
  async mounted() {
    let self = this;
    let getServicesUrl =
      this.$base_url + "/api/users/" + this.$user_id + "/services";
    let services = await this.$getData("get", getServicesUrl);

    if (services.success) {
      services.data.filter(item => {
        if (item.id == self.serviceId) {
          self.service_id = item.id;
          self.service_title = item.title;
        }
      });
      //   this.reRenderServicesI();
    } else {
      this.$toast.error(services.message, {
        duration: 5000,
        dismissible: true
      });
    }
    let gettypeByIdUrl =
      this.$base_url +
      "/api/services/" +
      this.service_id +
      "/types/" +
      this.typeId +
      "/gettype";
    let singleType = await this.$getData("get", gettypeByIdUrl);
    if (singleType.success) {
      this.name = singleType.data.name;
      this.price = singleType.data.price;
      this.discount_price = singleType.data.discount_price
        ? singleType.data.discount_price
        : "";
      this.time = singleType.data.time;
      this.start_time = singleType.data.start_time
        ? singleType.data.start_time
        : "";
      this.end_time = singleType.data.end_time ? singleType.data.end_time : "";
      this.description = singleType.data.description
        ? singleType.data.description
        : "";
      this.imgPreview = singleType.data.img
        ? "/assets/img/services/type/" + singleType.data.img
        : "";

      let hours, minutes;
      if (Math.floor(this.time / 60) > 0) {
        hours = Math.floor(this.time / 60) + "h";
      } else {
        hours = "";
      }
      if (this.time % 60 > 0) {
        if (hours.length != 0) {
          hours += " ";
        }
        minutes = (this.time % 60) + "min";
      } else {
        minutes = "";
      }
      this.duration.selected.value = hours + minutes;

      if (this.start_time == null || this.start_time == "") {
      } else {
        let stime_f = Math.trunc(this.start_time / 60);
        if (stime_f < 10) {
          stime_f = "0" + stime_f;
        }
        let stime_s = this.start_time % 60;
        if (stime_s == 0) {
          stime_s = "0" + stime_s;
        }
        this.startTime.selected.value = stime_f + ":" + stime_s;
      }

      if (this.end_time == null || this.end_time == "") {
      } else {
        let etime_f = Math.trunc(this.end_time / 60);
        if (etime_f < 10) {
          etime_f = "0" + etime_f;
        }
        let etime_s = this.end_time % 60;
        if (etime_s == 0) {
          etime_s = "0" + etime_s;
        }
        this.endTime.selected.value = etime_f + ":" + etime_s;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.quillWrapper {
  p {
    background: none !important;
    box-shadow: none !important;
  }
  .ql-picker {
    color: white !important;
  }
  .ql-image,
  .ql-video {
    display: none !important;
  }
  .ql-snow {
    .ql-stroke {
      stroke: white !important;
    }
    .ql-fill {
      fill: #fff !important;
    }
  }
  .ql-picker-options {
    border: 2px solid #e25b37 !important;
    background: #1a1a1a !important;
    .ql-picker-item {
      &:hover {
        color: #e25b37 !important;
      }
    }
  }
  .ql-selected {
    color: #e25b37 !important;
  }
  .ql-picker-label {
    &:hover {
      color: #e25b37 !important;
    }
  }
}
.ctm-btn {
  margin-top: 15px;
}
.type-img {
  max-width: 300px;
  margin-top: 15px;
}
</style>
