%background-property {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
%cover-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
%user-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
