@mixin padding-left-p-map($padding-left-p-map) {
    @each $breakpoint, $padding-left-p in $padding-left-p-map {
        @if $breakpoint == null {
            padding-left: $padding-left-p;
        } @else {
            @include breakpoint($breakpoint) {
                padding-left: $padding-left-p;
            }
        }
    }
} 
@mixin padding-right-p-map($padding-right-p-map) {
    @each $breakpoint, $padding-right-p in $padding-right-p-map {
        @if $breakpoint == null {
            padding-right: $padding-right-p;
        } @else {
            @include breakpoint($breakpoint) {
                padding-right: $padding-right-p;
            }
        }
    }
}

// padding-right

// margin-right
$comment-w-box-c-margin-right: (
    null: 0
);
$comment-w-box-p-margin-right: (
    null: 240px,
    767px: 105px,
    575px: 0
);

//padding-left

$post-sub-btn-padding-left: (
    null: null,
    767px: 20px
);

//position
$post-input-group-append-position: (
    null: absolute,
    575px: relative
);

//display
$submit-sec-display: (
    null: flex,
    767px: inherit
);

// width

$post-v-txt-i-img-width: (
    null: null,
    767px: 30px
);
$fel-tag-sec-width: (
    null: 50%,
    767px: 100%
);
$fel-tag-sec-button-width: (
    null: 45%,
    767px: max-content
);
$fel-tag-sec-span-img-width: (
    null: null,
    575px: 15px
);
$like-com-lz-btn-span-width: (
    null: null,
    767px: 100%
);
$lcs-ul-span-img-width: (
    null: null,
    575px: 14px
);

// right
$post-input-group-append-right: (
    null: 15px,
    575px: 5px
);

// margin-right
$lcs-ul-span-img-margin-right: (
    null: 5px,
    500px: 3px,
    400px: 2px
);

// padding
$fel-tag-sec-button-padding: (
    null: 10px,
    767px: 5px 10px
);

// font-size

$usr-name-font-size: (
    null: 16px,
    575px: 14px
);
$post-d-txt-font-size: (
    null: 16px,
    575px: 13px
);
$fel-tag-sec-span-font-size: (
    null: 14px,
    575px: 12px
);
$lcs-ul-span-font-size: (
    null: 14px,
    575px: 12px,
    400px: 11px
);

//text-align
$post-sub-btn-text-align: (
    null: right,
    767px: left
);

@mixin transform($v, $d1, $d2: null) {
    @if $v == translateX {
        @include translateX($d1);
    } @else if $v == rotate {
        @include rotate($d1);
    } @else if $v == translateY {
        @include translateY($d1);
    } @else if $v == translate {
        @include translate($d1, $d2);
    }
}
@mixin translate($v1, $v2) {
    transform: translate($v1, $v2);
    -webkit-transform: translate($v1, $v2);
}
@mixin translateX($v1) {
    transform: translateX($v1);
    -webkit-transform: translateX($v1);
}
@mixin translateY($v1) {
    transform: translateY($v1);
    -webkit-transform: translateY($v1);
}
@mixin rotate($v1) {
    transform: rotate($v1);
    -webkit-transform: rotate($v1);
}
@mixin transition-duration($v1) {
    -webkit-transition-duration: $v1;
    transition-duration: $v1;
}
@mixin dimension($h: null, $w: null) {
    @if $h != null {
        height: $h;
    }
    @if $w != null {
        width: $w;
    }
}
@mixin dimensionMax($h: null, $w: null) {
    @if $h != null {
        max-height: $h;
    }
    @if $w != null {
        max-width: $w;
    }
}
@mixin dimensionMin($h: null, $w: null) {
    @if $h != null {
        min-height: $h;
    }
    @if $w != null {
        min-width: $w;
    }
}
@mixin directionPos($t: null, $r: null, $b: null, $l: null) {
    @if $t != null {
        top: $t;
    }
    @if $r != null {
        right: $r;
    }
    @if $b != null {
        bottom: $b;
    }
    @if $l != null {
        left: $l;
    }
}

// breakpoint mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
    @if $mq2 == false {
        @media ($maxmin: $mq01) {
            @content;
        }
    } @else {
        @media (min-width: $mq01) and (max-width: $mq2) {
            @content;
        }
    }
} // breakpoint-h mixin
@mixin breakpoint-h($mq01: 0, $mq2: false, $maxmin: max-height) {
    @if $mq2 == false {
        @media ($maxmin: $mq01) {
            @content;
        }
    } @else {
        @media (min-height: $mq01) and (max-height: $mq2) {
            @content;
        }
    }
}

// responsive font size mixin
@mixin font-size-map($font-size-map) {
    @each $breakpoint, $font-size in $font-size-map {
        @if $breakpoint == null {
            font-size: $font-size;
        } @else {
            @include breakpoint($breakpoint) {
                font-size: $font-size;
            }
        }
    }
}
// responsive width mixin
@mixin width-p-map($width-p-map) {
    @each $breakpoint, $width-p in $width-p-map {
        @if $breakpoint == null {
            width: $width-p;
        } @else {
            @include breakpoint($breakpoint) {
                width: $width-p;
            }
        }
    }
}
// responsive height mixin
@mixin height-p-map($height-p-map) {
    @each $breakpoint, $height-p in $height-p-map {
        @if $breakpoint == null {
            height: $height-p;
        } @else {
            @include breakpoint($breakpoint) {
                height: $height-p;
            }
        }
    }
}
// responsive top mixin
@mixin top-p-map($top-p-map) {
    @each $breakpoint, $top-p in $top-p-map {
        @if $breakpoint == null {
            top: $top-p;
        } @else {
            @include breakpoint($breakpoint) {
                top: $top-p;
            }
        }
    }
}
// responsive right mixin
@mixin right-p-map($right-p-map) {
    @each $breakpoint, $right-p in $right-p-map {
        @if $breakpoint == null {
            right: $right-p;
        } @else {
            @include breakpoint($breakpoint) {
                right: $right-p;
            }
        }
    }
}
// responsive bottom mixin
@mixin bottom-p-map($bottom-p-map) {
    @each $breakpoint, $bottom-p in $bottom-p-map {
        @if $breakpoint == null {
            bottom: $bottom-p;
        } @else {
            @include breakpoint($breakpoint) {
                bottom: $bottom-p;
            }
        }
    }
}
// responsive left mixin
@mixin left-p-map($left-p-map) {
    @each $breakpoint, $left-p in $left-p-map {
        @if $breakpoint == null {
            left: $left-p;
        } @else {
            @include breakpoint($breakpoint) {
                left: $left-p;
            }
        }
    }
}
// responsive transform: translate() mixin
@mixin transform-translate-p-map($transform-translate-p-map) {
    @each $breakpoint, $transform-translate-p in $transform-translate-p-map {
        @if $breakpoint == null {
            transform: translate($transform-translate-p);
        } @else {
            @include breakpoint($breakpoint) {
                transform: translate($transform-translate-p);
            }
        }
    }
}
// responsive line-height mixin
@mixin line-height-p-map($line-height-p-map) {
    @each $breakpoint, $line-height-p in $line-height-p-map {
        @if $breakpoint == null {
            line-height: $line-height-p;
        } @else {
            @include breakpoint($breakpoint) {
                line-height: $line-height-p;
            }
        }
    }
}
// responsive padding mixin
@mixin padding-p-map($padding-p-map) {
    @each $breakpoint, $padding-p in $padding-p-map {
        @if $breakpoint == null {
            padding: $padding-p;
        } @else {
            @include breakpoint($breakpoint) {
                padding: $padding-p;
            }
        }
    }
}
// responsive font-size mixin
@mixin font-size-p-map($font-size-p-map) {
    @each $breakpoint, $font-size-p in $font-size-p-map {
        @if $breakpoint == null {
            font-size: $font-size-p;
        } @else {
            @include breakpoint($breakpoint) {
                font-size: $font-size-p;
            }
        }
    }
}
// responsive margin-top mixin for height
@mixin margin-top-p-map-h($margin-top-p-map) {
    @each $breakpoint, $margin-top-p in $margin-top-p-map {
        @if $breakpoint == null {
            margin-top: $margin-top-p;
        } @else {
            @include breakpoint-h($breakpoint) {
                margin-top: $margin-top-p;
            }
        }
    }
}
// responsive margin-top mixin
@mixin margin-top-p-map($margin-top-p-map) {
    @each $breakpoint, $margin-top-p in $margin-top-p-map {
        @if $breakpoint == null {
            margin-top: $margin-top-p;
        } @else {
            @include breakpoint($breakpoint) {
                margin-top: $margin-top-p;
            }
        }
    }
}
// responsive margin-right mixin
@mixin margin-right-p-map($margin-right-p-map) {
    @each $breakpoint, $margin-right-p in $margin-right-p-map {
        @if $breakpoint == null {
            margin-right: $margin-right-p;
        } @else {
            @include breakpoint($breakpoint) {
                margin-right: $margin-right-p;
            }
        }
    }
}
// responsive margin-bottom mixin
@mixin margin-bottom-p-map($margin-bottom-p-map) {
    @each $breakpoint, $margin-bottom-p in $margin-bottom-p-map {
        @if $breakpoint == null {
            margin-bottom: $margin-bottom-p;
        } @else {
            @include breakpoint($breakpoint) {
                margin-bottom: $margin-bottom-p;
            }
        }
    }
}
// responsive margin mixin
@mixin margin-p-map($margin-p-map) {
    @each $breakpoint, $margin-p in $margin-p-map {
        @if $breakpoint == null {
            margin: $margin-p;
        } @else {
            @include breakpoint($breakpoint) {
                margin: $margin-p;
            }
        }
    }
}
// responsive margin-left mixin
@mixin margin-left-p-map($margin-left-p-map) {
    @each $breakpoint, $margin-left-p in $margin-left-p-map {
        @if $breakpoint == null {
            margin-left: $margin-left-p;
        } @else {
            @include breakpoint($breakpoint) {
                margin-left: $margin-left-p;
            }
        }
    }
}
@mixin letter-spacing-p-map($letter-spacing-p-map) {
    @each $breakpoint, $letter-spacing-p in $letter-spacing-p-map {
        @if $breakpoint == null {
            letter-spacing: $letter-spacing-p;
        } @else {
            @include breakpoint($breakpoint) {
                letter-spacing: $letter-spacing-p;
            }
        }
    }
}
// responsive margin mixin for height
@mixin margin-p-map-h($margin-p-map) {
    @each $breakpoint, $margin-p in $margin-p-map {
        @if $breakpoint == null {
            margin: $margin-p;
        } @else {
            @include breakpoint-h($breakpoint) {
                margin: $margin-p;
            }
        }
    }
}
@mixin display-p-map($display-p-map) {
    @each $breakpoint, $display-p in $display-p-map {
        @if $breakpoint == null {
            display: $display-p;
        } @else {
            @include breakpoint($breakpoint) {
                display: $display-p;
            }
        }
    }
}
@mixin float-p-map($float-p-map) {
    @each $breakpoint, $float-p in $float-p-map {
        @if $breakpoint == null {
            float: $float-p;
        } @else {
            @include breakpoint($breakpoint) {
                float: $float-p;
            }
        }
    }
}
@mixin text-align-p-map($text-align-p-map) {
    @each $breakpoint, $text-align-p in $text-align-p-map {
        @if $breakpoint == null {
            text-align: $text-align-p;
        } @else {
            @include breakpoint($breakpoint) {
                text-align: $text-align-p;
            }
        }
    }
}
@mixin position-p-map($position-p-map) {
    @each $breakpoint, $position-p in $position-p-map {
        @if $breakpoint == null {
            position: $position-p;
        } @else {
            @include breakpoint($breakpoint) {
                position: $position-p;
            }
        }
    }
}
@mixin border-bottom-p-map($border-bottom-p-map) {
    @each $breakpoint, $border-bottom-p in $border-bottom-p-map {
        @if $breakpoint == null {
            border-bottom: $border-bottom-p;
        } @else {
            @include breakpoint($breakpoint) {
                border-bottom: $border-bottom-p;
            }
        }
    }
}
@mixin justify-content-p-map($justify-content-p-map) {
    @each $breakpoint, $justify-content-p in $justify-content-p-map {
        @if $breakpoint == null {
            justify-content: $justify-content-p;
        } @else {
            @include breakpoint($breakpoint) {
                justify-content: $justify-content-p;
            }
        }
    }
}

// 27-06
// background
@mixin background-p-map($background-p-map) {
    @each $breakpoint, $background-p in $background-p-map {
        @if $breakpoint == null {
            background: $background-p;
        } @else {
            @include breakpoint($breakpoint) {
                background: $background-p;
            }
        }
    }
}
// padding-top
@mixin padding-top-p-map($padding-top-p-map) {
    @each $breakpoint, $padding-top-p in $padding-top-p-map {
        @if $breakpoint == null {
            padding-top: $padding-top-p;
        } @else {
            @include breakpoint($breakpoint) {
                padding-top: $padding-top-p;
            }
        }
    }
}
// border-radius
@mixin border-radius-p-map($border-radius-p-map) {
    @each $breakpoint, $border-radius-p in $border-radius-p-map {
        @if $breakpoint == null {
            border-radius: $border-radius-p;
        } @else {
            @include breakpoint($breakpoint) {
                border-radius: $border-radius-p;
            }
        }
    }
}
// border-right
@mixin border-right-p-map($border-right-p-map) {
    @each $breakpoint, $border-right-p in $border-right-p-map {
        @if $breakpoint == null {
            border-right: $border-right-p;
        } @else {
            @include breakpoint($breakpoint) {
                border-right: $border-right-p;
            }
        }
    }
}
// flex
@mixin flex-p-map($flex-p-map) {
    @each $breakpoint, $flex-p in $flex-p-map {
        @if $breakpoint == null {
            flex: $flex-p;
        } @else {
            @include breakpoint($breakpoint) {
                flex: $flex-p;
            }
        }
    }
}
// max-width
@mixin max-width-p-map($max-width-p-map) {
    @each $breakpoint, $max-width-p in $max-width-p-map {
        @if $breakpoint == null {
            max-width: $max-width-p;
        } @else {
            @include breakpoint($breakpoint) {
                max-width: $max-width-p;
            }
        }
    }
}

// width
$userPro-imgM-width: (
    null: 200px,
    450px: 150px
);

// height
$userPro-imgM-height: (
    null: 200px,
    450px: 150px
);

// flex
$userPro-imgM-col-12-flex: (
    null: 0 0 calc(100% - 200px),
    450px: 0 0 100%
);

// max-width
$userPro-imgM-col-12-max-width: (
    null: calc(100% - 200px),
    450px: 100%
);

// border-right
$lcs-ul-span-border-right: (
    null: null,
    767px: 1px solid #704923
);

// padding-top

$userPro-txt-padding-top: (
    null: 45px,
    450px: 20px
);
// top
$userPro-love-btn-top: (
    null: 0,
    767px: -55px,
    450px: -35px
);
$userPro-tlt-top: (
    null: null,
    767px: 65px,
    450px: 0
);
$com-text-in-label-top: (
    null: null,
    767px: -17px
);
$mbl-lang-top: (
    null: 22px,
    575px: 17px,
    450px: 14px,
    380px: 12px
);
$mbl-lang-right: (
    null: 127px,
    450px: 110px
);

// background

$about-side-blog-section-background: (
    null: #242424,
    991px: transparent
);
$about-top-tlt-background: (
    null: null,
    767px: linear-gradient(#2e2e2e, #252525)
);
$about-love-btn-background: (
    null: linear-gradient(#4c4c4c, #333),
    767px: transparent
);
// border-bottom

$live-post-desc-border-bottom: (
    null: null,
    767px: 1px solid #704923
);

$about-top-tlt-border-bottom: (
    null: 1px solid #ff8f4c,
    767px: none
);
$about-ser-n-border-bottom: (
    null: null,
    767px: 1px solid #fff
);

// margin

$live-comment-w-box-margin: (
    null: 20px,
    767px: 10px
);
$live-post-desc-margin: (
    null: 0 20px,
    767px: 0 10px
);
$like-com-lz-btn-margin: (
    null: 0 20px,
    767px: 0 10px
);

// padding

$like-com-lz-btn-padding: (
    null: 15px 0,
    767px: 10px 0
);
$content-img-v-cnt-padding: (
    null: 0 20px,
    767px: 10px
);
$m-p-padding: (
    null: null,
    767px: 0
);
$top-post-cnt-padding: (
    null: 20px,
    767px: 10px
);
$live-post-desc-padding: (
    null: 20px 0,
    767px: 10px 0
);

$about-side-blog-section-padding: (
    null: 0 15px 25px 15px,
    991px: 0
);
$about-top-tlt-padding: (
    null: 0 0 5px 0,
    767px: 0 10px 10px 10px
);
$about-love-btn-padding: (
    null: 6px 15px,
    767px: 6px 0
);
// margin-left

$about-top-tlt-margin-left: (
    null: 75px,
    767px: 110px
);
$m-s-ico-margin-left: (
    null: 30px,
    450px: 15px
);

// padding-top
$comment-comment-s-padding-top: (
    null: 30px,
    767px: 0
);
// left
$about-service-logo-left: (
    null: -66px,
    767px: -96px
);

// float
$about-love-btn-float: (
    null: right,
    400px: none
);
// margin-left
$about-love-btn-margin-left: (
    null: 10px,
    400px: 0
);
// bottom
$about-love-btn-bottom: (
    null: null,
    767px: 25px,
    400px: 0
);
// height
$about-service-logo-height: (
    null: 54px,
    767px: 100%
);

// border-radius
$about-top-tlt-border-radius: (
    null: null,
    767px: 5px
);

// display
$m-b-li-txt-display: (
    null: null,
    400px: none
);

// width
$live-lcs-li-width: (
    null: null,
    767px: 33.33%
);

$m-b-li-img-width: (
    null: 20px,
    600px: 16px,
    400px: 22px
);
$about-service-logo-width: (
    null: 54px,
    767px: 85px
);
$about-service-purchase-r-span-width: (
    null: null,
    767px: calc(50% - 13px)
);
$pro-dis-pr-btn-width: (
    null: null,
    767px: 100%
);
$about-pro-btn-width: (
    null: calc(100% - 60px),
    991px: max-content
);
// padding-top
$about-top-tlt-h1-padding-top: (
    null: null,
    767px: 10px
);
// font-size
$m-b-li-font-size: (
    null: 22px,
    600px: 16px,
    450px: 13px
);
$menu-trigger-font-size: (
    null: 22px,
    600px: 16px,
    450px: 13px,
    400px: 25px
);
$about-star-font-size: (
    null: 16px,
    767px: 12px
);
$about-ser-n-font-size: (
    null: 16px,
    767px: 20px,
    500px: 16px
);
$about-m-perc-font-size: (
    null: 24px,
    767px: 18px,
    400px: 16px
);
$m-price-font-size: (
    null: 16px,
    500px: 14px,
    400px: 12px
);
//justify-content

$about-model-tlt-justify-content: (
    null: null,
    991px: center
);

//justify-content

$pro-ser-prc-per-justify-content: (
    null: flex-end,
    767px: flex-start
);

// border-bottom

$img-v-border-bottom: (
    null: null,
    991px: 1px solid #704923
);

//position
$pro-cnf-area-position: (
    null: null,
    991px: absolute
);
$short-select-position: (
    null: absolute,
    575px: relative
);
$cat-nav-short-select-position: (
    null: absolute,
    1250px: relative
);
$comment-short-select-position: (
    null: absolute,
    767px: relative
);

//text-align

$post-sub-btn-text-align: (
    null: right,
    767px: left
);
$itm-dis-text-align: (
    null: right,
    1200px: left,
    991px: right
);
$agn-txt-text-align: (
    null: right,
    575px: left
);
$about-star-text-align: (
    null: right,
    767px: left
);
$about-service-purchase-r-text-align: (
    null: right,
    767px: left
);

//float
$client-client-email-float: (
    null: right,
    800px: initial
);
$service-list-point-float: (
    null: right,
    1300px: initial,
    767px: right,
    650px: initial
);

//display
$pro-ser-prc-per-display: (
    null: flex,
    500px: inherit
);
$like-com-btn-display: (
    null: flex,
    575px: inherit
);
$selected-serv-client-display: (
    null: flex,
    800px: block
);
$ac-up-btn-area-display: (
    null: initial,
    500px: flex
);
$modal-footer-display: (
    null: flex,
    575px: initial
);
$service-list-display: (
    null: flex,
    767px: inherit
);
$about-top-tlt-display: (
    null: flex,
    767px: inherit
);
$des-itm-display: (
    null: flex,
    1250px: inherit,
    991px: flex,
    400px: inherit
);
$about-service-purchase-add-display: (
    null: flex,
    767px: inherit
);
$line-h-span-display: (
    null: none,
    991px: inline-block
);

// font sizes

// height
// $left-box-height: (null: 100%);
$vip-swiper-container-height: (
    null: 210px,
    991px: 280px,
    575px: 310px
);

// width

$navbar-brand-img-width: (
    null: 200px,
    575px: 170px,
    450px: 140px,
    380px: 120px
);
$wrunner__outer_direction_horizontal-width: (
    null: 53%,
    767px: 80%,
    575px: 60%,
    450px: 53%
);
$wrunner__outer_direction_horizontal-s-width: (
    null: 80%,
    767px: 93%,
    575px: 90%,
    400px: 85%
);
$pro-service-purchase-r-width: (
    null: 45%,
    767px: 100%
);
$pro-service-purchase-l-width: (
    null: 55%,
    767px: 100%
);
$service-nav-width: (
    null: calc(50% - 64px),
    450px: calc(100% - 64px)
);
$l-c-s-width: (
    null: calc(100% - 185px),
    575px: 100%
);
$client-span-width: (
    null: auto,
    800px: 100%
);
$ss-width: (
    null: auto,
    1200px: 220px,
    991px: auto
);
$ser-n-s-width: (
    null: 75%,
    767px: 100%
);
$ser-h-width: (
    null: 25%,
    767px: 100%
);
$ser-h-width: (
    null: 25%,
    767px: 100%
);
$ser-add-width: (
    null: 45%,
    1150px: 100%
);
$ser-prc-per-width: (
    null: 55%,
    1150px: 100%
);
$service-list-img-width: (
    null: 30%,
    1300px: 35%,
    767px: 100%
);
$service-list-cnt-width: (
    null: 70%,
    1300px: 65%,
    767px: 100%
);
$service-list-point-width: (
    null: null,
    450px: 100%
);
$vip-swiper-container-width: (
    null: 80%,
    1200px: 90%
);
$vip-section-title-width: (
    null: 80%,
    1100px: 98%
);
$vip-section-title-after-width: (
    null: 33%,
    991px: 28%,
    575px: 24%,
    450px: 20%,
    400px: 18%,
    380px: 16%,
    350px: 12%
);
$slider-info-width: (
    null: 28%,
    1520px: max-content,
    380px: 100%
);
$itm-name-all-width: (
    null: 70%,
    1250px: 100%,
    991px: 70%,
    400px: 100%
);
$itm-dis-width: (
    null: 30%,
    1250px: 100%,
    991px: 30%,
    400px: 100%
);
$about-top-tlt-h1-width: (
    null: 70%,
    767px: 100%
);
$about-star-width: (
    null: 30%,
    767px: 100%
);
$about-service-purchase-l-width: (
    null: 40%,
    767px: 100%
);
$about-service-purchase-r-width: (
    null: 60%,
    767px: 100%
);

// top
// $home-cnt-area-inr-box-top: (null: 65px);
$vip-btn-top: (
    null: -40px,
    575px: -72px
);

$main-img-top: (
    null: -10px,
    767px: 0
);
$vip-logo-top: (
    null: -15px,
    767px: -5px
);
$nav-swiper-button-prev-top: (
    null: 65%,
    991px: 63%,
    767px: 60%
);

// right
$pro-cnf-area-right: (
    null: null,
    991px: 10px
);
$main-img-right: (
    null: -10px,
    767px: 0
);
$vip-logo-right: (
    null: -15px,
    767px: -5px
);
$cat-nav-short-select-right: (
    null: 15px,
    1200px: 0px
);

// bottom
$slider-btm-txt-bottom: (
    null: -140px,
    991px: -280px,
    575px: -310px
);
$filter-m-btn-bottom: (
    null: -77px,
    991px: -25px,
    767px: -82px
);

// left
// $home-cnt-area-inr-box-left: (null: 50px, 600px: 0);
$carousel-caption-left: (
    null: 10%,
    767px: 5%,
    575px: 0
);
$filter-m-btn-left: (
    null: null,
    991px: 65px
);
$service-logo-left: (
    null: -60px,
    991px: -3px
);
$nav-img-left: (
    null: 9px,
    767px: 0
);
$slider-info-left: (
    null: -40px,
    1100px: -20px,
    991px: 0px
);
$vip-swiper-container-left: (
    null: 8.5%,
    1900px: 9.7%,
    1691px: 0
);

// transform: translate()

// line-height

// margin
$df-nav-margin: (
    null: 0 10px
);
$img-v-margin: (
    null: 0 5px 0 0,
    767px: 0
);
$s-per-margin: (
    null: null,
    575px: auto
);
$simple-con-margin: (
    null: 0 15%,
    1200px: 0 8%,
    991px: 0 4%
);

// margin-right
$like-count-margin-right: (
    null: 15px,
    991px: 10px
);
// margin-top
$ac-up-btn-area-margin-top: (
    null: auto,
    500px: 15px
);
$box-padding: (
    null: 0,
    576px: 10px
);
$add-c-btn-padding: (
    null: 3px 15px
);
$service-list-point-margin-top: (
    null: null,
    450px: 5px
);

// margin-bottom
$service-list-price-margin-bottom: (
    null: 25px,
    450px: 50px
);
$profile-nav-tab-li-first-2-margin-bottom: (
    null: 0,
    450px: 15px
);
$short-txt-margin-bottom: (
    null: null,
    575px: 20px
);
$mb-src-box-margin-bottom: (
    null: 25px,
    767px: 40px
);
$about-ser-d-margin-bottom: (
    null: null,
    767px: 15px
);

// margin-left
$box-margin-left: (
    null: 0,
    991px: 50px
);
$modal-footer-margin-left: (
    null: 25px,
    575px: 0
);
// padding-right
$ser-n-padding-right: (
    null: null,
    767px: 50px
);
// padding
$form-section-col-12-padding: (
    null: null,
    767px: 50px
);
$pro-service-purchase-add-padding: (
    null: 10px 45px 5px 10px,
    1200px: 10px 40px 5px 5px,
    767px: 10px 0
);
$pro-dis-pr-btn-padding: (
    null: 6px 12px,
    575px: 6px
);

$userPro-imgM-padding: (
    null: 10px 10px 0 0px
);
$lcs-ul-padding: (
    null: 0 15px,
    991px: 0 8px
);
$lcs-ul-span-padding: (
    null: 10px,
    991px: 10px 5px
);
$client-client-email-padding: (
    null: 0 0 0 10px,
    800px: 0
);
$main-menu-navbar-collapse-nav-link-padding: (
    null: 5px 25px,
    1500px: 5px 10px
);
$header-section-main-menu-padding: (
    null: 10px 3%,
    1500px: 10px 0
);
$blog-section-col-12-padding: (
    null: null,
    991px: 0
);
$form-section-padding: (
    null: 20px 6% 5px,
    1600px: 20px 3% 5px
);

// font-size

$pro-dis-pr-btn-font-size: (
    null: 14px,
    767px: 12px
);
$pro-star-txt-font-size: (
    null: 14px,
    575px: 12px
);
$pro-ser-prc-per-font-size: (
    null: 14px,
    767px: 12px
);
$pro-ser-n-font-size: (
    null: 24px,
    575px: 16px
);
$userPro-tlt-h3-font-size: (
    null: 32px,
    1200px: 25px,
    600px: 18px,
    450px: 20px
);
$main-menu-navbar-collapse-nav-link-font-size: (
    null: 14px,
    1500px: 13px
);
$add-c-btn-font-size: (
    null: 14px,
    767px: 13px
);
$ser-n-font-size: (
    null: 14px,
    767px: 13px
);
$ser-s-font-size: (
    null: 16px,
    767px: 14px
);
$ser-per-font-size: (
    null: 12px,
    767px: 10px
);
$ser-prc-per-font-size: (
    null: 14px,
    767px: 12px
);
$service-purchase-tlt-font-size: (
    null: 20px,
    767px: 18px
);
$tlt-1-font-size: (
    null: 16px,
    575px: 14px
);
$service-list-tlt-font-size: (
    null: 30px,
    450px: 25px
);
$carousel-caption-h1-font-size: (
    null: 42px,
    991px: 35px,
    767px: 30px
);
$carousel-caption-p-font-size: (
    null: 24px,
    991px: 20px,
    767px: 18px,
    600px: 16px,
    450px: 14px
);
$carousel-caption-p-font-size: (
    null: 24px,
    991px: 20px,
    767px: 18px,
    600px: 16px,
    450px: 14px
);
$vip-section-title-font-size: (
    null: 24px,
    767px: 20px,
    575px: 18px
);
$vip-btn-font-size: (
    null: 14px,
    767px: 12px
);
$about-top-tlt-h1-font-size: (
    null: 24px,
    767px: 20px,
    575px: 18px
);

//letter-spacing

$pro-ser-n-letter-spacing: (
    null: 5px,
    575px: 3px
);
$userPro-tlt-h3-letter-spacing: (
    null: 6px,
    1200px: 4px
);
$vip-section-title-letter-spacing: (
    null: 5px,
    767px: 3px
);
$about-top-tlt-h1-letter-spacing: (
    null: 5px,
    767px: 3px
);
