<template>
  <div class="form-group ctm-select-g">
    <label>{{ label }}</label>
    <div :class="{ 'ctm-select1': true, disabled: disabled }" @click="troggleOption">
      <span class="ctm-select-val">{{ selectedC.value }}</span>
      <span class="down-ar">
        <svg
          width="12"
          height="7"
          viewBox="0 0 12 7"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M1 1L6 6L11 1" stroke="#fff" />
        </svg>
      </span>
    </div>

    <vue-slide-up-down :active="isShowD" :duration="400" class="ctm-option-box1">
      <div class="input-group">
        <input
          type="text"
          class="form-control post-code search-select-value"
          placeholder="Write"
          v-model="search"
          @input="searchSelectValue"
        />
        <div class="input-group-append">
          <button type="button" class="btn input-group-text">
            <span class>
              <svg
                width="15"
                height="15"
                viewBox="0 0 24 23"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="10" cy="10" r="9.5" stroke="white" stroke-opacity="1" />
                <line
                  x1="17.3536"
                  y1="16.6464"
                  x2="23.3536"
                  y2="22.6464"
                  stroke="white"
                  stroke-opacity="1"
                />
              </svg>
            </span>
          </button>
        </div>
      </div>
      <div class="ctm-option-all">
        <div
          class="ctm-option"
          v-for="(option, i) in options"
          :key="i"
          @click="selectOption(option.key, option.value)"
        >
          <label class="ctm-con mar-0">{{ option.value }}</label>
        </div>
      </div>
    </vue-slide-up-down>
  </div>
</template>

<script>
export default {
  props: {
    sBox: {
      type: String
    },
    label: {
      type: String
    },
    selected: {
      type: Object
    },
    items: {
      type: Array
    },
    disabled: {
      type: Boolean
    }
  },
  data() {
    return {
      isShowD: false,
      sBoxC: this.sBox,
      search: "",
      options: this.items,
      selectedC: this.selected
    };
  },
  methods: {
    documentC(e) {
      if (
        !$(e.target).hasClass("ctm-select1") &&
        $(e.target).parents(".ctm-select1").length === 0 &&
        $(e.target).parents(".ctm-option-box1").length === 0
      ) {
        this.isShowD = false;
      }
    },
    troggleOption(e) {
      if (this.disabled) {
        return false;
      }
      this.isShowD = !this.isShowD;
      this.$emit("hideOption", this.sBoxC);
    },
    updateTroggleOption(d) {
      if (this.sBoxC != d) {
        this.isShowD = false;
      }
    },
    searchSelectValue() {
      // this.isOpen = false;
      this.filterResults();
    },
    // item => item.value.toLowerCase().indexOf(this.search.toLowerCase()) > -1
    filterResults() {
      let self = this;
      this.options = this.items.filter(function(item) {
        if (item.value.toLowerCase().indexOf(self.search.toLowerCase()) > -1) {
          return item;
        }
      });
    },
    selectOption(i, option) {
      this.selectedC.value = option;
      this.isShowD = false;
      this.$emit("setSelectedVal", {
        key: this.sBoxC,
        value: i
      });
    }
  },
  created() {
    this.$parent.$on("documentC", this.documentC);
    this.$parent.$parent.$on("documentC", this.documentC);
    this.$parent.$on("updateTroggleOption", this.updateTroggleOption);
    this.$parent.$parent.$on("updateTroggleOption", this.updateTroggleOption);
    // this.$parent.$parent.$parent.$on("documentC", this.documentC);
    // this.$parent.$parent.$on("updateTroggleOption", this.updateTroggleOption);
    // this.$parent.$parent.$parent.$parent.$on("documentC", this.documentC);
    // this.$parent.$parent.$parent.$on(
    //   "updateTroggleOption",
    //   this.updateTroggleOption
    // );
  },
  mounted() {
    // this.$emit("setSelectedVal", {
    //   key: this.sBoxC,
    //   value: this.selectedC.id
    // });
  }
};
</script>

<style></style>
