<template>
  <div class="modal">
    <div class="modal-window">
      <p>
        Edit {{worker_name}}'s schedule.
        <span>{{date}}</span>
      </p>
      <button class="cancel close" @click="onCancel">
        <i class="fas fa-times"></i>
      </button>
      <form @submit.prevent="onConfirm">
        <div class="row">
          <div class="col-12 col-sm-6">
            <SingleSrcSelect
              :sBox="startd.sBox"
              @hideOption="hideOption"
              :label="startd.label"
              :selected="startd.selected"
              :items="startd.items"
              :disabled="false"
              @setSelectedVal="setSelectedVal($event)"
            />
            <div v-if="error.is.start" class="text-danger m-t-m-10">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              {{ error.msg.start }}
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <SingleSrcSelect
              :sBox="endd.sBox"
              @hideOption="hideOption"
              :label="endd.label"
              :selected="endd.selected"
              :items="endd.items"
              :disabled="false"
              @setSelectedVal="setSelectedVal($event)"
            />
            <div v-if="error.is.end" class="text-danger m-t-m-10">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              {{ error.msg.end }}
            </div>
          </div>
          <div class="col-12">
            <SingleSrcSelect
              :sBox="repeats.sBox"
              @hideOption="hideOption"
              :label="repeats.label"
              :selected="repeats.selected"
              :items="repeats.items"
              :disabled="false"
              @setSelectedVal="setSelectedVal($event)"
            />
            <div v-if="error.is.repeats" class="text-danger m-t-m-10">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              {{ error.msg.repeats }}
            </div>
          </div>
          <div class="col-12 actions">
            <button
              type="button"
              class="btn btn-danger"
              :disabled="disDelete"
              @click="onDelete"
            >Delete</button>
            <button class="confirm">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import SingleSrcSelect from "./../selectOption/SingleSrcSelect.vue";
export default {
  components: {
    SingleSrcSelect
  },
  data() {
    return {
      startd: {
        sBox: "start",
        label: "Start",
        selected: {
          value: "00:00"
        },
        items: [
          {
            key: "00:00:00",
            value: "00:00"
          },
          {
            key: "00:30:00",
            value: "00:30"
          },
          {
            key: "01:00:00",
            value: "01:00"
          },
          {
            key: "01:30:00",
            value: "01:30"
          },
          {
            key: "02:00:00",
            value: "02:00"
          },
          {
            key: "02:30:00",
            value: "02:30"
          },
          {
            key: "03:00:00",
            value: "03:00"
          },
          {
            key: "03:30:00",
            value: "03:30"
          },
          {
            key: "04:00:00",
            value: "04:00"
          },
          {
            key: "04:30:00",
            value: "04:30"
          },
          {
            key: "05:00:00",
            value: "05:00"
          },
          {
            key: "05:30:00",
            value: "05:30"
          },
          {
            key: "06:00:00",
            value: "06:00"
          },
          {
            key: "06:30:00",
            value: "06:30"
          },
          {
            key: "07:00:00",
            value: "07:00"
          },
          {
            key: "07:30:00",
            value: "07:30"
          },
          {
            key: "08:00:00",
            value: "08:00"
          },
          {
            key: "08:30:00",
            value: "08:30"
          },
          {
            key: "09:00:00",
            value: "09:00"
          },
          {
            key: "09:30:00",
            value: "09:30"
          },
          {
            key: "10:00:00",
            value: "10:00"
          },
          {
            key: "10:30:00",
            value: "10:30"
          },
          {
            key: "11:00:00",
            value: "11:00"
          },
          {
            key: "11:30:00",
            value: "11:30"
          },
          {
            key: "12:00:00",
            value: "12:00"
          },
          {
            key: "12:30:00",
            value: "12:30"
          },
          {
            key: "13:00:00",
            value: "13:00"
          },
          {
            key: "13:30:00",
            value: "13:30"
          },
          {
            key: "14:00:00",
            value: "14:00"
          },
          {
            key: "14:30:00",
            value: "14:30"
          },
          {
            key: "15:00:00",
            value: "15:00"
          },
          {
            key: "15:30:00",
            value: "15:30"
          },
          {
            key: "16:00:00",
            value: "16:00"
          },
          {
            key: "16:30:00",
            value: "16:30"
          },
          {
            key: "17:00:00",
            value: "17:00"
          },
          {
            key: "17:30:00",
            value: "17:30"
          },
          {
            key: "18:00:00",
            value: "18:00"
          },
          {
            key: "18:30:00",
            value: "18:30"
          },
          {
            key: "19:00:00",
            value: "19:00"
          },
          {
            key: "19:30:00",
            value: "19:30"
          },
          {
            key: "20:00:00",
            value: "20:00"
          },
          {
            key: "20:30:00",
            value: "20:30"
          },
          {
            key: "21:00:00",
            value: "21:00"
          },
          {
            key: "21:30:00",
            value: "21:30"
          },
          {
            key: "22:00:00",
            value: "22:00"
          },
          {
            key: "22:30:00",
            value: "22:30"
          },
          {
            key: "23:00:00",
            value: "23:00"
          },
          {
            key: "23:30:00",
            value: "23:30"
          }
        ]
      },
      endd: {
        sBox: "end",
        label: "End",
        selected: {
          value: "00:00"
        },
        items: [
          {
            key: "00:00:00",
            value: "00:00"
          },
          {
            key: "00:30:00",
            value: "00:30"
          },
          {
            key: "01:00:00",
            value: "01:00"
          },
          {
            key: "01:30:00",
            value: "01:30"
          },
          {
            key: "02:00:00",
            value: "02:00"
          },
          {
            key: "02:30:00",
            value: "02:30"
          },
          {
            key: "03:00:00",
            value: "03:00"
          },
          {
            key: "03:30:00",
            value: "03:30"
          },
          {
            key: "04:00:00",
            value: "04:00"
          },
          {
            key: "04:30:00",
            value: "04:30"
          },
          {
            key: "05:00:00",
            value: "05:00"
          },
          {
            key: "05:30:00",
            value: "05:30"
          },
          {
            key: "06:00:00",
            value: "06:00"
          },
          {
            key: "06:30:00",
            value: "06:30"
          },
          {
            key: "07:00:00",
            value: "07:00"
          },
          {
            key: "07:30:00",
            value: "07:30"
          },
          {
            key: "08:00:00",
            value: "08:00"
          },
          {
            key: "08:30:00",
            value: "08:30"
          },
          {
            key: "09:00:00",
            value: "09:00"
          },
          {
            key: "09:30:00",
            value: "09:30"
          },
          {
            key: "10:00:00",
            value: "10:00"
          },
          {
            key: "10:30:00",
            value: "10:30"
          },
          {
            key: "11:00:00",
            value: "11:00"
          },
          {
            key: "11:30:00",
            value: "11:30"
          },
          {
            key: "12:00:00",
            value: "12:00"
          },
          {
            key: "12:30:00",
            value: "12:30"
          },
          {
            key: "13:00:00",
            value: "13:00"
          },
          {
            key: "13:30:00",
            value: "13:30"
          },
          {
            key: "14:00:00",
            value: "14:00"
          },
          {
            key: "14:30:00",
            value: "14:30"
          },
          {
            key: "15:00:00",
            value: "15:00"
          },
          {
            key: "15:30:00",
            value: "15:30"
          },
          {
            key: "16:00:00",
            value: "16:00"
          },
          {
            key: "16:30:00",
            value: "16:30"
          },
          {
            key: "17:00:00",
            value: "17:00"
          },
          {
            key: "17:30:00",
            value: "17:30"
          },
          {
            key: "18:00:00",
            value: "18:00"
          },
          {
            key: "18:30:00",
            value: "18:30"
          },
          {
            key: "19:00:00",
            value: "19:00"
          },
          {
            key: "19:30:00",
            value: "19:30"
          },
          {
            key: "20:00:00",
            value: "20:00"
          },
          {
            key: "20:30:00",
            value: "20:30"
          },
          {
            key: "21:00:00",
            value: "21:00"
          },
          {
            key: "21:30:00",
            value: "21:30"
          },
          {
            key: "22:00:00",
            value: "22:00"
          },
          {
            key: "22:30:00",
            value: "22:30"
          },
          {
            key: "23:00:00",
            value: "23:00"
          },
          {
            key: "23:30:00",
            value: "23:30"
          }
        ]
      },
      repeats: {
        sBox: "repeats",
        label: "Repeats",
        selected: {
          value: "No Repeat"
        },
        items: [
          {
            key: 0,
            value: "No repeat"
          },
          {
            key: 1,
            value: "Repeat"
          }
        ]
      },
      start: "00:00:00",
      end: "00:00:00",
      repeat: 0,
      error: {
        is: {
          start: false,
          end: false,
          repeats: false
        },
        msg: {
          start: "",
          end: "",
          repeats: ""
        }
      },
      worker_name: null,
      date: null,
      dataR: null,
      disDelete: false
    };
  },
  methods: {
    setSelectedVal(d) {
      if (d.key == "start") this.start = d.value;
      else if (d.key == "end") this.end = d.value;
      else if (d.key == "repeats") this.repeat = d.value;
    },
    hideOption(d) {
      this.$emit("updateTroggleOption", d);
    },
    onConfirm() {
      this.dataR["repeat"] = this.repeat;
      this.dataR["start"] = this.start;
      this.dataR["end"] = this.end;
      this.$emit("confirm", this.dataR);
    },
    onDelete() {
      if (!this.disDelete) {
        this.dataR["repeat"] = this.repeat;
        this.dataR["start"] = this.start;
        this.dataR["end"] = this.end;
        this.$emit("delete", this.dataR);
      }
    },
    onCancel() {
      this.$emit("cancel");
    },
    setUpdateWorkingDayD(d) {
      this.dataR = d.info;
      this.date = d.info.date;
      this.worker_name = d.info.worker;
      if (d.wd.success && d.wd.data != null) {
        this.startd.selected.value = d.wd.data.start.slice(0, -3);
        this.start = d.wd.data.start;
        this.endd.selected.value = d.wd.data.end.slice(0, -3);
        this.end = d.wd.data.end;
        if (d.wd.data.repeat) this.repeats.selected.value = "Repeat";
        else this.repeats.selected.value = "No Repeat";
        this.repeat = d.wd.data.repeat;
      } else {
        this.disDelete = true;
      }
    }
  },
  created() {
    this.$parent.$on("setUpdateWorkingDayD", this.setUpdateWorkingDayD);
  }
};
</script>

<style></style>
