<template>
  <div class="modal-cal">
    <div class="modal-window">
      <p>Booking</p>
      <button class="cancel close" @click="onCancel">
        <i class="fas fa-times"></i>
      </button>
      <div class="booking-cnt">
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="box">
              <div class="top-cnt">
                <span class="time-b">{{ time }}</span>
                <span class="date-b">{{ date }}</span>
                <!-- <span class="comlete-txt">Mase as Complete</span> -->
              </div>
              <div class="specialist text-center">
                <div class="check-worker" v-if="isCheckedWorker">
                  <div class="usr-name">{{ workerC.name }}</div>
                  <div class="serv">
                    <div class="serv-tlt">Specialist ON:</div>
                    <div class="serv-name">
                      <span
                        v-for="type in workerC.types"
                        :key="type.id"
                        class="c-worker-type"
                      >{{ type.name }}</span>
                    </div>
                  </div>
                </div>
                <div class="not-check-worker" v-else>Please chouse worker.</div>
              </div>
              <div class="selected-serv">
                <div class="s-serv-name">
                  Service: {{ serviceName }}
                  <!-- <span class="cle">cansle</span> -->
                </div>
                <div class="s-serv-name">
                  <span class="type-name">Type: {{ calendarModelD.name }}</span>
                  <span class="type-price float-right">Price: {{ calendarModelD.price }}</span>
                </div>
                <!-- <div class="client">
                  <span class="client-name">Provider: {{ provider.name }}</span>
                  <span class="client-email">{{ provider.email }}</span>
                </div>-->
              </div>
              <div class="adding-serv">
                <button
                  :class="{'active' : isAddingClint}"
                  @click="isAddingClint = true"
                >Search Client</button>
                <button
                  :class="{'active' : !isAddingClint}"
                  @click="isAddingClint = false"
                >Add Client</button>
              </div>
              <div class="search-client" v-if="isAddingClint">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control search-client-input"
                    placeholder="Search user by ( name, email or phone number )"
                    v-model="searchClientT"
                    @keyup="searchUser"
                    @click="searchUser"
                  />
                </div>
                <div class="search-result-client" v-if="isShowD">
                  <div
                    class="src-client-box"
                    v-for="(client, i) in clients"
                    :key="i"
                    @click="setCheckedClient(client)"
                  >
                    <div class="name">{{ client.name }}</div>
                    <div class="email">{{ client.email }}</div>
                  </div>
                  <div class="src-client-box" v-if="!clients.length">
                    <div class="error">No result found.</div>
                  </div>
                </div>
              </div>
              <div class="add-client" v-else>
                <div class="form-group">
                  <label for="addClientName">Name:</label>
                  <input type="name" id="addClientName" v-model="resD.name" class="form-control" />
                </div>
                <div class="form-group">
                  <label for="addClientPhone">Phone Number:</label>
                  <input type="phone" id="addClientPhone" v-model="resD.phone" class="form-control" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="box">
              <div class="top-cnt text-center">
                <span class="time-b">{{ time }}</span>
                <span class="date-b">{{ date }}</span>
              </div>
              <div class="worker-tbl text-center">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Worker</th>
                      <th scope="col">Busy on Service</th>
                      <th scope="col">Mase Busy</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="worker in calendarModelD.event.workers" :key="worker.id">
                      <td class="w-name" :class="worker.class">{{ worker.name }}</td>
                      <td class="w-serv" :class="worker.class">
                        <span v-if="worker.class == 'wkr-status-free'">available</span>
                        <span v-else-if="worker.class == 'wkr-status-busy'">booked pending</span>
                        <span v-else-if="worker.class == 'wkr-status-confirm'">booked confirm</span>
                        <span v-else>leave</span>
                      </td>
                      <td>
                        <label
                          class="container"
                          v-if="worker.class == 'wkr-status-free' && !$moment(date).isBefore(currentDate)"
                        >
                          <input
                            type="checkbox"
                            :value="worker.id"
                            v-model="additional_grouped"
                            @change="uniqueCheck(worker, $event)"
                          />
                          <span class="checkmark"></span>
                        </label>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="booking-b">
                  <button class="btn booking-btn" @click="booking()">Booking</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["calendarModelD"],
  data() {
    return {
      end: null,
      time: null,
      date: null,
      currentDate: null,
      isCheckedWorker: false,
      provider: this.$user,
      additional_grouped: [],
      workerC: {},
      serviceName: this.calendarModelD.service_name,
      isAddingClint: true,
      searchClientT: "",
      clients: {},
      isShowD: false,
      client: {},
      resD: {
        name: "",
        phone: ""
      }
    };
  },
  methods: {
    documentC(e) {
      if (!$(e.target).hasClass("search-client-input")) {
        this.isShowD = false;
      }
    },
    async searchUser() {
      let data = {
        src: this.searchClientT
      };
      let srcUserUrl = this.$base_url + "/api/get-users";
      let response = await this.$getData("post", srcUserUrl, data);
      this.clients = response.data;
      this.isShowD = true;
    },
    setCheckedClient(client) {
      this.client = client;
      this.searchClientT = client.name;
    },
    onCancel() {
      this.$emit("cancel");
    },
    uniqueCheck(worker, e) {
      this.workerC = worker;
      this.isCheckedWorker = true;
      this.additional_grouped = [];
      if (e.target.checked) {
        this.additional_grouped.push(e.target.value);
      }
    },
    // checkClientInfoChange(obj) {
    //   // console.log(obj.user);
    //   this.client = obj.user;
    //   this.$user = obj.user;
    // },
    async booking() {
      if (!this.isAddingClint) {
        if (this.resD.name != "" && this.resD.phone != "") {
          if (this.isCheckedWorker == false) {
            this.$toast.error("Please choose worker.", {
              duration: 5000,
              dismissible: true
            });
          } else {
            let registerUserUrl = this.$base_url + "/api/add-user";
            let response1 = await this.$getData(
              "post",
              registerUserUrl,
              this.resD
            );
            if (!response1.success) {
              this.$toast.error(response1.message, {
                duration: 5000,
                dismissible: true
              });
            } else {
              this.client = response1.data.user;
              console.log(response1.data.user);
              this.bookingConfirm();
            }
          }
        } else {
          this.$toast.error("Please insert all field.", {
            duration: 5000,
            dismissible: true
          });
        }
      } else {
        if (Object.keys(this.client).length === 0) {
          this.$toast.error("Please select any client.", {
            duration: 5000,
            dismissible: true
          });
        } else {
          if (this.isCheckedWorker == false) {
            this.$toast.error("Please choose worker.", {
              duration: 5000,
              dismissible: true
            });
          } else {
            this.bookingConfirm();
          }
        }
      }
    },
    async bookingConfirm() {
      let start = this.calendarModelD.event.start.split(" ");
      let data = {
        user_id: this.client.id,
        worker_id: this.workerC.id,
        date: this.$moment(String(start[0])).format("YYYY-MM-DD"),
        start: this.time,
        end: this.end,
        confirm: 1,
        c_user_id: 0
      };
      let storeBookingUrl =
        this.$base_url +
        "/api/services/" +
        this.calendarModelD.service_id +
        "/types/" +
        this.calendarModelD.id +
        "/booking";
      let response = await this.$getData("post", storeBookingUrl, data);
      if (!response.success) {
        this.$toast.error(response.message, {
          duration: 5000,
          dismissible: true
        });
      } else {
        this.$toast.success(response.message, {
          duration: 5000,
          dismissible: true
        });
        let data = {
          start: this.calendarModelD.event.start,
          worker: this.workerC
        };
        this.$emit("booking", data);
      }
    }
  },
  created() {
    this.$parent.$on("setUpdateWorkingDayD", this.setUpdateWorkingDayD);
    let start = this.calendarModelD.event.start.split(" ");
    let end = this.calendarModelD.event.end.split(" ");
    this.date = this.$moment(String(start[0])).format("DD-MM-YYYY");
    this.currentDate = this.$moment().format("DD-MM-YYYY");
    this.time = start[1];
    this.end = end[1];
  },
  mounted() {
    // $(document).on("loginComplete", this.checkClientInfoChange);
    this.$parent.$parent.$parent.$on("documentC", this.documentC);
  }
};
</script>

<style></style>
