<template>
  <div class="modal">
    <div class="modal-window">
      <p>
        Are you want to complete
        <strong v-html="data.value"></strong> ?
      </p>
      <div class="actions">
        <button class="cancel" @click="onCancel">No</button>
        <button class="confirm" @click="onCompleted">Yes</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["data"],
  methods: {
    onCompleted() {
      this.$emit("complete", this.data);
    },
    onCancel() {
      this.$emit("cancel");
    }
  }
};
</script>

<style></style>
